<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>options_bkg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{856,506}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{856,506}}</string>
                <key>sourceSize</key>
                <string>{856,506}</string>
            </dict>
            <key>options_btn_analog_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,968},{220,36}}</string>
                <key>offset</key>
                <string>{-21,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,13},{220,36}}</string>
                <key>sourceSize</key>
                <string>{300,64}</string>
            </dict>
            <key>options_btn_analog_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,930},{220,36}}</string>
                <key>offset</key>
                <string>{-21,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,13},{220,36}}</string>
                <key>sourceSize</key>
                <string>{300,64}</string>
            </dict>
            <key>options_btn_continue_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{487,510},{483,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{483,103}}</string>
                <key>sourceSize</key>
                <string>{483,103}</string>
            </dict>
            <key>options_btn_continue_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,510},{483,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{483,103}}</string>
                <key>sourceSize</key>
                <string>{483,103}</string>
            </dict>
            <key>options_btn_controls_continue_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,720},{393,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{393,103}}</string>
                <key>sourceSize</key>
                <string>{393,103}</string>
            </dict>
            <key>options_btn_controls_continue_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,615},{393,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{393,103}}</string>
                <key>sourceSize</key>
                <string>{393,103}</string>
            </dict>
            <key>options_btn_controls_reset_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{277,825},{273,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{273,103}}</string>
                <key>sourceSize</key>
                <string>{273,103}</string>
            </dict>
            <key>options_btn_controls_reset_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,825},{273,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{273,103}}</string>
                <key>sourceSize</key>
                <string>{273,103}</string>
            </dict>
            <key>options_btn_dpad_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{860,40},{146,36}}</string>
                <key>offset</key>
                <string>{-32,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,13},{146,36}}</string>
                <key>sourceSize</key>
                <string>{250,64}</string>
            </dict>
            <key>options_btn_dpad_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{860,2},{146,36}}</string>
                <key>offset</key>
                <string>{-32,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,13},{146,36}}</string>
                <key>sourceSize</key>
                <string>{250,64}</string>
            </dict>
            <key>options_btn_gear_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{942,154},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>options_btn_gear_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{860,154},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>options_btn_off_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{860,116},{109,36}}</string>
                <key>offset</key>
                <string>{-13,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,13},{109,36}}</string>
                <key>sourceSize</key>
                <string>{175,64}</string>
            </dict>
            <key>options_btn_off_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{860,78},{109,36}}</string>
                <key>offset</key>
                <string>{-13,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,13},{109,36}}</string>
                <key>sourceSize</key>
                <string>{175,64}</string>
            </dict>
            <key>options_btn_on_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{935,236},{73,36}}</string>
                <key>offset</key>
                <string>{-31,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,13},{73,36}}</string>
                <key>sourceSize</key>
                <string>{175,64}</string>
            </dict>
            <key>options_btn_on_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{860,236},{73,36}}</string>
                <key>offset</key>
                <string>{-31,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,13},{73,36}}</string>
                <key>sourceSize</key>
                <string>{175,64}</string>
            </dict>
            <key>options_btn_thumb_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,968},{186,36}}</string>
                <key>offset</key>
                <string>{-13,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,13},{186,36}}</string>
                <key>sourceSize</key>
                <string>{250,64}</string>
            </dict>
            <key>options_btn_thumb_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,930},{186,36}}</string>
                <key>offset</key>
                <string>{-13,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,13},{186,36}}</string>
                <key>sourceSize</key>
                <string>{250,64}</string>
            </dict>
            <key>options_label_controls.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,930},{289,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{289,35}}</string>
                <key>sourceSize</key>
                <string>{289,35}</string>
            </dict>
            <key>options_label_music.png</key>
            <dict>
                <key>frame</key>
                <string>{{685,967},{185,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{185,35}}</string>
                <key>sourceSize</key>
                <string>{185,35}</string>
            </dict>
            <key>options_label_sfx.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,967},{271,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{271,35}}</string>
                <key>sourceSize</key>
                <string>{271,35}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>options-hd.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:154121eff2fa32453deae5aade65ae8c$</string>
            <key>textureFileName</key>
            <string>options-hd.png</string>
        </dict>
    </dict>
</plist>
