<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>options_bkg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{428,253}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{428,253}}</string>
                <key>sourceSize</key>
                <string>{428,253}</string>
            </dict>
            <key>options_btn_analog_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{201,331},{110,18}}</string>
                <key>offset</key>
                <string>{-10,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,7},{110,18}}</string>
                <key>sourceSize</key>
                <string>{150,32}</string>
            </dict>
            <key>options_btn_analog_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{201,311},{110,18}}</string>
                <key>offset</key>
                <string>{-10,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,7},{110,18}}</string>
                <key>sourceSize</key>
                <string>{150,32}</string>
            </dict>
            <key>options_btn_continue_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,257},{242,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{242,52}}</string>
                <key>sourceSize</key>
                <string>{242,52}</string>
            </dict>
            <key>options_btn_continue_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,257},{242,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{242,52}}</string>
                <key>sourceSize</key>
                <string>{242,52}</string>
            </dict>
            <key>options_btn_controls_continue_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,365},{197,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{197,52}}</string>
                <key>sourceSize</key>
                <string>{197,52}</string>
            </dict>
            <key>options_btn_controls_continue_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,311},{197,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{197,52}}</string>
                <key>sourceSize</key>
                <string>{197,52}</string>
            </dict>
            <key>options_btn_controls_reset_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{141,419},{137,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{137,52}}</string>
                <key>sourceSize</key>
                <string>{137,52}</string>
            </dict>
            <key>options_btn_controls_reset_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,419},{137,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{137,52}}</string>
                <key>sourceSize</key>
                <string>{137,52}</string>
            </dict>
            <key>options_btn_dpad_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,22},{73,18}}</string>
                <key>offset</key>
                <string>{-16,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,7},{73,18}}</string>
                <key>sourceSize</key>
                <string>{125,32}</string>
            </dict>
            <key>options_btn_dpad_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,2},{73,18}}</string>
                <key>offset</key>
                <string>{-16,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,7},{73,18}}</string>
                <key>sourceSize</key>
                <string>{125,32}</string>
            </dict>
            <key>options_btn_gear_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,124},{40,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,40}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>options_btn_gear_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,82},{40,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,40}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>options_btn_off_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,62},{56,18}}</string>
                <key>offset</key>
                <string>{-7,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,7},{56,18}}</string>
                <key>sourceSize</key>
                <string>{88,32}</string>
            </dict>
            <key>options_btn_off_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,42},{56,18}}</string>
                <key>offset</key>
                <string>{-7,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,7},{56,18}}</string>
                <key>sourceSize</key>
                <string>{88,32}</string>
            </dict>
            <key>options_btn_on_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{472,166},{38,18}}</string>
                <key>offset</key>
                <string>{-16,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,7},{38,18}}</string>
                <key>sourceSize</key>
                <string>{88,32}</string>
            </dict>
            <key>options_btn_on_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,166},{38,18}}</string>
                <key>offset</key>
                <string>{-16,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,7},{38,18}}</string>
                <key>sourceSize</key>
                <string>{88,32}</string>
            </dict>
            <key>options_btn_thumb_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{201,391},{93,18}}</string>
                <key>offset</key>
                <string>{-6,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,7},{93,18}}</string>
                <key>sourceSize</key>
                <string>{125,32}</string>
            </dict>
            <key>options_btn_thumb_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{201,371},{93,18}}</string>
                <key>offset</key>
                <string>{-6,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,7},{93,18}}</string>
                <key>sourceSize</key>
                <string>{125,32}</string>
            </dict>
            <key>options_label_controls.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,473},{145,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,18}}</string>
                <key>sourceSize</key>
                <string>{145,18}</string>
            </dict>
            <key>options_label_music.png</key>
            <dict>
                <key>frame</key>
                <string>{{201,351},{93,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,18}}</string>
                <key>sourceSize</key>
                <string>{93,18}</string>
            </dict>
            <key>options_label_sfx.png</key>
            <dict>
                <key>frame</key>
                <string>{{149,473},{136,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,18}}</string>
                <key>sourceSize</key>
                <string>{136,18}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>options.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fd33ac7da88155aecdf3fda2d5bfd18d$</string>
            <key>textureFileName</key>
            <string>options.png</string>
        </dict>
    </dict>
</plist>
