<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>endless_bkg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1712,1012}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1712,1012}}</string>
                <key>sourceSize</key>
                <string>{1712,1012}</string>
            </dict>
            <key>endless_btn_quit_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1432},{726,206}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{726,206}}</string>
                <key>sourceSize</key>
                <string>{726,206}</string>
            </dict>
            <key>endless_btn_quit_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1224},{726,206}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{726,206}}</string>
                <key>sourceSize</key>
                <string>{726,206}</string>
            </dict>
            <key>endless_btn_retry_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{730,1016},{726,206}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{726,206}}</string>
                <key>sourceSize</key>
                <string>{726,206}</string>
            </dict>
            <key>endless_btn_retry_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1016},{726,206}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{726,206}}</string>
                <key>sourceSize</key>
                <string>{726,206}</string>
            </dict>
            <key>endless_new_best.png</key>
            <dict>
                <key>frame</key>
                <string>{{1716,2},{196,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{196,28}}</string>
                <key>sourceSize</key>
                <string>{196,28}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>endless-hd.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:141855939dad8bb2bbb37a7260177b53$</string>
            <key>textureFileName</key>
            <string>endless-hd.png</string>
        </dict>
    </dict>
</plist>
