<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>endless_bkg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{856,506}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{856,506}}</string>
                <key>sourceSize</key>
                <string>{856,506}</string>
            </dict>
            <key>endless_btn_quit_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,720},{363,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{363,103}}</string>
                <key>sourceSize</key>
                <string>{363,103}</string>
            </dict>
            <key>endless_btn_quit_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,615},{363,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{363,103}}</string>
                <key>sourceSize</key>
                <string>{363,103}</string>
            </dict>
            <key>endless_btn_retry_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{367,510},{363,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{363,103}}</string>
                <key>sourceSize</key>
                <string>{363,103}</string>
            </dict>
            <key>endless_btn_retry_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,510},{363,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{363,103}}</string>
                <key>sourceSize</key>
                <string>{363,103}</string>
            </dict>
            <key>endless_new_best.png</key>
            <dict>
                <key>frame</key>
                <string>{{860,2},{98,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,14}}</string>
                <key>sourceSize</key>
                <string>{98,14}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>endless.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:43ebb760aabdcd251d830a90554c06bf$</string>
            <key>textureFileName</key>
            <string>endless.png</string>
        </dict>
    </dict>
</plist>
