<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>tank1.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,108},{66,46}}</string>
                <key>offset</key>
                <string>{0,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,18},{66,46}}</string>
                <key>sourceSize</key>
                <string>{72,64}</string>
            </dict>
            <key>tank10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,58},{66,50}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,14},{66,50}}</string>
                <key>sourceSize</key>
                <string>{72,64}</string>
            </dict>
            <key>tank11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,110},{66,48}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,16},{66,48}}</string>
                <key>sourceSize</key>
                <string>{72,64}</string>
            </dict>
            <key>tank2.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,108},{66,44}}</string>
                <key>offset</key>
                <string>{0,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,20},{66,44}}</string>
                <key>sourceSize</key>
                <string>{72,64}</string>
            </dict>
            <key>tank3.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,58},{66,48}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,16},{66,48}}</string>
                <key>sourceSize</key>
                <string>{72,64}</string>
            </dict>
            <key>tank4.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,2},{66,54}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,10},{66,54}}</string>
                <key>sourceSize</key>
                <string>{72,64}</string>
            </dict>
            <key>tank5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{66,54}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,10},{66,54}}</string>
                <key>sourceSize</key>
                <string>{72,64}</string>
            </dict>
            <key>tank6.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,2},{66,52}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,12},{66,52}}</string>
                <key>sourceSize</key>
                <string>{72,64}</string>
            </dict>
            <key>tank7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,208},{66,46}}</string>
                <key>offset</key>
                <string>{0,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,18},{66,46}}</string>
                <key>sourceSize</key>
                <string>{72,64}</string>
            </dict>
            <key>tank8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,160},{66,46}}</string>
                <key>offset</key>
                <string>{0,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,18},{66,46}}</string>
                <key>sourceSize</key>
                <string>{72,64}</string>
            </dict>
            <key>tank9.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,56},{66,50}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,14},{66,50}}</string>
                <key>sourceSize</key>
                <string>{72,64}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>tank.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3bb8497f2474c455cc69b73d0b72923b$</string>
            <key>textureFileName</key>
            <string>tank.png</string>
        </dict>
    </dict>
</plist>
