<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>boss1_attack1.png</key>
            <dict>
                <key>frame</key>
                <string>{{46,106},{42,32}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,16},{42,32}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>boss1_attack2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,72},{46,32}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,16},{46,32}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>boss1_attack3.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,2},{46,32}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,16},{46,32}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>boss1_attack4.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,2},{46,32}}</string>
                <key>offset</key>
                <string>{5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,16},{46,32}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>boss1_attack5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,208},{42,32}}</string>
                <key>offset</key>
                <string>{7,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,16},{42,32}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>boss1_attack6.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,140},{34,32}}</string>
                <key>offset</key>
                <string>{6,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,16},{34,32}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>boss1_die1.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,2},{46,32}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,16},{46,32}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>boss1_idle1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,174},{42,32}}</string>
                <key>offset</key>
                <string>{5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,16},{42,32}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>boss1_idle2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,140},{42,32}}</string>
                <key>offset</key>
                <string>{5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,16},{42,32}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>boss1_idle3.png</key>
            <dict>
                <key>frame</key>
                <string>{{46,174},{40,32}}</string>
                <key>offset</key>
                <string>{5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,16},{40,32}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>boss1_idle4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,140},{42,32}}</string>
                <key>offset</key>
                <string>{5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,16},{42,32}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>boss1_jump1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,36},{44,34}}</string>
                <key>offset</key>
                <string>{4,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,13},{44,34}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>boss1_shoot1.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,36},{44,32}}</string>
                <key>offset</key>
                <string>{6,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,16},{44,32}}</string>
                <key>sourceSize</key>
                <string>{96,64}</string>
            </dict>
            <key>boss1_shoot2.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,2},{50,32}}</string>
                <key>offset</key>
                <string>{10,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,16},{50,32}}</string>
                <key>sourceSize</key>
                <string>{96,64}</string>
            </dict>
            <key>boss1_shoot3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{56,32}}</string>
                <key>offset</key>
                <string>{13,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,16},{56,32}}</string>
                <key>sourceSize</key>
                <string>{96,64}</string>
            </dict>
            <key>boss1_walk1.png</key>
            <dict>
                <key>frame</key>
                <string>{{46,140},{40,32}}</string>
                <key>offset</key>
                <string>{5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,16},{40,32}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>boss1_walk2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,106},{42,32}}</string>
                <key>offset</key>
                <string>{5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,16},{42,32}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>boss1_walk3.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,36},{44,32}}</string>
                <key>offset</key>
                <string>{5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,16},{44,32}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>boss1_walk4.png</key>
            <dict>
                <key>frame</key>
                <string>{{48,36},{44,32}}</string>
                <key>offset</key>
                <string>{5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,16},{44,32}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>boss1_walk5.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,36},{42,32}}</string>
                <key>offset</key>
                <string>{5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,16},{42,32}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>boss1_walk6.png</key>
            <dict>
                <key>frame</key>
                <string>{{50,70},{40,32}}</string>
                <key>offset</key>
                <string>{5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,16},{40,32}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>boss1_walk7.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,208},{38,32}}</string>
                <key>offset</key>
                <string>{5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,16},{38,32}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>boss1_walk8.png</key>
            <dict>
                <key>frame</key>
                <string>{{46,208},{38,32}}</string>
                <key>offset</key>
                <string>{5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,16},{38,32}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>boss1.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5b45a896d5860c09de086f9620290ada$</string>
            <key>textureFileName</key>
            <string>boss1.png</string>
        </dict>
    </dict>
</plist>
