<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>rifle_soldier_get_up1.png</key>
            <dict>
                <key>frame</key>
                <string>{{38,24},{32,20}}</string>
                <key>offset</key>
                <string>{2,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,29},{32,20}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>rifle_soldier_get_up2.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,2},{32,20}}</string>
                <key>offset</key>
                <string>{3,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,29},{32,20}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>rifle_soldier_get_up3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,52},{28,20}}</string>
                <key>offset</key>
                <string>{1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,26},{28,20}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>rifle_soldier_get_up4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,28},{28,22}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,16},{28,22}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>rifle_soldier_get_up5.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,80},{20,22}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,21},{20,22}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>rifle_soldier_hit1.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,54},{24,24}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,19},{24,24}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>rifle_soldier_hit2.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,2},{20,24}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,19},{20,24}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>rifle_soldier_idle1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,152},{22,24}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,19},{22,24}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>rifle_soldier_idle2.png</key>
            <dict>
                <key>frame</key>
                <string>{{26,146},{22,24}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,19},{22,24}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>rifle_soldier_idle3.png</key>
            <dict>
                <key>frame</key>
                <string>{{50,128},{22,24}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,19},{22,24}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>rifle_soldier_idle4.png</key>
            <dict>
                <key>frame</key>
                <string>{{26,146},{22,24}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,19},{22,24}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>rifle_soldier_ko1.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,106},{22,24}}</string>
                <key>offset</key>
                <string>{1,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,14},{22,24}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>rifle_soldier_ko2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,28},{28,22}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,16},{28,22}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>rifle_soldier_ko3.png</key>
            <dict>
                <key>frame</key>
                <string>{{32,46},{28,20}}</string>
                <key>offset</key>
                <string>{2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,19},{28,20}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>rifle_soldier_ko4.png</key>
            <dict>
                <key>frame</key>
                <string>{{38,2},{32,20}}</string>
                <key>offset</key>
                <string>{2,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,30},{32,20}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>rifle_soldier_shoot1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,74},{24,24}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,19},{24,24}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>rifle_soldier_shoot2.png</key>
            <dict>
                <key>frame</key>
                <string>{{32,68},{24,24}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,19},{24,24}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>rifle_soldier_shoot3.png</key>
            <dict>
                <key>frame</key>
                <string>{{62,50},{26,24}}</string>
                <key>offset</key>
                <string>{3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,19},{26,24}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>rifle_soldier_shoot4.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,24},{30,24}}</string>
                <key>offset</key>
                <string>{6,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,19},{30,24}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>rifle_soldier_shoot5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{34,24}}</string>
                <key>offset</key>
                <string>{8,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,19},{34,24}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>rifle_soldier_walk1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,126},{22,24}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,19},{22,24}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>rifle_soldier_walk2.png</key>
            <dict>
                <key>frame</key>
                <string>{{26,120},{22,24}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,19},{22,24}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>rifle_soldier_walk3.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,102},{22,24}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,19},{22,24}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>rifle_soldier_walk4.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,80},{22,24}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,19},{22,24}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>rifle_soldier_walk5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,100},{22,24}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,19},{22,24}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>rifle_soldier_walk6.png</key>
            <dict>
                <key>frame</key>
                <string>{{28,94},{22,24}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,19},{22,24}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>rifle_soldier_walk7.png</key>
            <dict>
                <key>frame</key>
                <string>{{58,76},{22,24}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,19},{22,24}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>rifle_soldier_walk8.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,28},{22,24}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,19},{22,24}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>rifle_soldier.png</string>
            <key>size</key>
            <string>{128,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ba1a73c182c9d9f0cfa72231c66f2034$</string>
            <key>textureFileName</key>
            <string>rifle_soldier.png</string>
        </dict>
    </dict>
</plist>
