<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>blank.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,216},{1,1}}</string>
                <key>offset</key>
                <string>{-3.5,3.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{8,8}</string>
            </dict>
            <key>blood1.png</key>
            <dict>
                <key>frame</key>
                <string>{{502,152},{8,8}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{8,8}}</string>
                <key>sourceSize</key>
                <string>{8,8}</string>
            </dict>
            <key>blood2.png</key>
            <dict>
                <key>frame</key>
                <string>{{504,126},{4,4}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{4,4}}</string>
                <key>sourceSize</key>
                <string>{4,4}</string>
            </dict>
            <key>blood3.png</key>
            <dict>
                <key>frame</key>
                <string>{{504,120},{4,4}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{4,4}}</string>
                <key>sourceSize</key>
                <string>{4,4}</string>
            </dict>
            <key>blood4.png</key>
            <dict>
                <key>frame</key>
                <string>{{504,114},{4,4}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{4,4}}</string>
                <key>sourceSize</key>
                <string>{4,4}</string>
            </dict>
            <key>bomb_beacon1.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,544},{100,52}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,36},{100,52}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>bomb_beacon2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,638},{76,44}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,40},{76,44}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>bomb_beacon3.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,666},{52,36}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,44},{52,36}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>bomb_beacon4.png</key>
            <dict>
                <key>frame</key>
                <string>{{474,2},{36,28}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,48},{36,28}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>boss_bullet1.png</key>
            <dict>
                <key>frame</key>
                <string>{{474,140},{28,10}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{28,10}}</string>
                <key>sourceSize</key>
                <string>{32,10}</string>
            </dict>
            <key>boss_bullet2.png</key>
            <dict>
                <key>frame</key>
                <string>{{474,102},{32,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,10}}</string>
                <key>sourceSize</key>
                <string>{32,10}</string>
            </dict>
            <key>boss_bullet3.png</key>
            <dict>
                <key>frame</key>
                <string>{{474,152},{26,10}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{26,10}}</string>
                <key>sourceSize</key>
                <string>{32,10}</string>
            </dict>
            <key>explosion1.png</key>
            <dict>
                <key>frame</key>
                <string>{{474,56},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,48},{32,32}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>explosion2.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,642},{96,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,16},{96,96}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>explosion3.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,552},{88,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,20},{88,88}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>explosion4.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,420},{88,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,20},{88,88}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>explosion5.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,330},{88,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,20},{88,88}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>explosion6.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,240},{88,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,20},{88,88}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>eye_flash1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,758},{44,16}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,56},{44,16}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>eye_flash2.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,704},{52,24}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,52},{52,24}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>eye_flash3.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,632},{60,32}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,48},{60,32}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>eye_flash4.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,598},{76,48}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,40},{76,48}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>eye_laser1.png</key>
            <dict>
                <key>frame</key>
                <string>{{474,90},{32,10}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{32,10}}</string>
                <key>sourceSize</key>
                <string>{36,10}</string>
            </dict>
            <key>eye_laser2.png</key>
            <dict>
                <key>frame</key>
                <string>{{474,44},{36,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,10}}</string>
                <key>sourceSize</key>
                <string>{36,10}</string>
            </dict>
            <key>eye_laser3.png</key>
            <dict>
                <key>frame</key>
                <string>{{474,90},{32,10}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{32,10}}</string>
                <key>sourceSize</key>
                <string>{36,10}</string>
            </dict>
            <key>eye_laser4.png</key>
            <dict>
                <key>frame</key>
                <string>{{474,32},{36,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,10}}</string>
                <key>sourceSize</key>
                <string>{36,10}</string>
            </dict>
            <key>grenade1.png</key>
            <dict>
                <key>frame</key>
                <string>{{500,164},{10,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{10,24}}</string>
                <key>sourceSize</key>
                <string>{10,24}</string>
            </dict>
            <key>ground_explosion1.png</key>
            <dict>
                <key>frame</key>
                <string>{{474,114},{28,24}}</string>
                <key>offset</key>
                <string>{-2,-64}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{112,180},{28,24}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>ground_explosion2.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,636},{56,28}}</string>
                <key>offset</key>
                <string>{-4,-62}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{96,176},{56,28}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>ground_explosion3.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,472},{64,52}}</string>
                <key>offset</key>
                <string>{-4,-50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{92,152},{64,52}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>ground_explosion4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,556},{84,80}}</string>
                <key>offset</key>
                <string>{-2,-36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{84,124},{84,80}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>ground_explosion5.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,582},{116,92}}</string>
                <key>offset</key>
                <string>{-2,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{68,112},{116,92}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>ground_explosion6.png</key>
            <dict>
                <key>frame</key>
                <string>{{234,472},{116,108}}</string>
                <key>offset</key>
                <string>{-2,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{68,96},{116,108}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>ground_explosion7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,438},{124,116}}</string>
                <key>offset</key>
                <string>{-6,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{60,88},{124,116}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>ground_explosion8.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,406},{140,64}}</string>
                <key>offset</key>
                <string>{-2,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,80},{140,64}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hit_flash1.png</key>
            <dict>
                <key>frame</key>
                <string>{{474,190},{24,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{116,116},{24,24}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hit_flash2.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,676},{48,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{104,104},{48,48}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hit_flash2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{474,164},{24,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{116,116},{24,24}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hit_flash2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,406},{40,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{108,108},{40,40}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hit_flash2_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,730},{48,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{104,104},{48,48}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hit_flash2_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,684},{72,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{92,92},{72,72}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hit_flash3.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,666},{56,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{100,100},{56,56}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hit_flash4.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,682},{72,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{92,92},{72,72}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>shadow1.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,568},{64,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,24}}</string>
                <key>sourceSize</key>
                <string>{64,24}</string>
            </dict>
            <key>shadow2.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,648},{76,32}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,10},{76,32}}</string>
                <key>sourceSize</key>
                <string>{96,48}</string>
            </dict>
            <key>shadow3.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,510},{92,40}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,8},{92,40}}</string>
                <key>sourceSize</key>
                <string>{96,48}</string>
            </dict>
            <key>stars1.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,756},{72,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,12},{72,40}}</string>
                <key>sourceSize</key>
                <string>{96,64}</string>
            </dict>
            <key>stars2.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,526},{64,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,12},{64,40}}</string>
                <key>sourceSize</key>
                <string>{96,64}</string>
            </dict>
            <key>stars3.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,598},{56,36}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,16},{56,36}}</string>
                <key>sourceSize</key>
                <string>{96,64}</string>
            </dict>
            <key>stars4.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,594},{60,36}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,16},{60,36}}</string>
                <key>sourceSize</key>
                <string>{96,64}</string>
            </dict>
            <key>wall_explosion1.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,438},{104,104}}</string>
                <key>offset</key>
                <string>{0,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{76,136},{104,104}}</string>
                <key>sourceSize</key>
                <string>{256,320}</string>
            </dict>
            <key>wall_explosion2.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,676},{72,64}}</string>
                <key>offset</key>
                <string>{0,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{92,156},{72,64}}</string>
                <key>sourceSize</key>
                <string>{256,320}</string>
            </dict>
            <key>wall_explosion3.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,240},{184,164}}</string>
                <key>offset</key>
                <string>{-4,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,92},{184,164}}</string>
                <key>sourceSize</key>
                <string>{256,320}</string>
            </dict>
            <key>wall_explosion4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{236,212}}</string>
                <key>offset</key>
                <string>{6,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,72},{236,212}}</string>
                <key>sourceSize</key>
                <string>{256,320}</string>
            </dict>
            <key>wall_explosion5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,216},{232,220}}</string>
                <key>offset</key>
                <string>{4,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,76},{232,220}}</string>
                <key>sourceSize</key>
                <string>{256,320}</string>
            </dict>
            <key>wall_explosion6.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,2},{232,236}}</string>
                <key>offset</key>
                <string>{4,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,64},{232,236}}</string>
                <key>sourceSize</key>
                <string>{256,320}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>fx.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2499631b761a29fb1d211d903e843d4d$</string>
            <key>textureFileName</key>
            <string>fx.png</string>
        </dict>
    </dict>
</plist>
