<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>level_back_button_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{860,2},{83,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,66}}</string>
                <key>sourceSize</key>
                <string>{83,66}</string>
            </dict>
            <key>level_frame.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,408},{856,404}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{856,404}}</string>
                <key>sourceSize</key>
                <string>{856,404}</string>
            </dict>
            <key>level_frame_overlay.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{856,404}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{856,404}}</string>
                <key>sourceSize</key>
                <string>{856,404}</string>
            </dict>
            <key>level_locked.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,814},{824,372}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{824,372}}</string>
                <key>sourceSize</key>
                <string>{824,372}</string>
            </dict>
            <key>level_pager.png</key>
            <dict>
                <key>frame</key>
                <string>{{930,221},{17,17}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{17,17}}</string>
                <key>sourceSize</key>
                <string>{25,25}</string>
            </dict>
            <key>level_pic_frame.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1414},{358,354}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{358,354}}</string>
                <key>sourceSize</key>
                <string>{358,354}</string>
            </dict>
            <key>level_star.png</key>
            <dict>
                <key>frame</key>
                <string>{{860,70},{78,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,79}}</string>
                <key>sourceSize</key>
                <string>{78,79}</string>
            </dict>
            <key>level_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,1482},{556,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{556,66}}</string>
                <key>sourceSize</key>
                <string>{556,66}</string>
            </dict>
            <key>title_btn_achievements.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,1707},{438,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{438,34}}</string>
                <key>sourceSize</key>
                <string>{438,34}</string>
            </dict>
            <key>title_btn_achievements_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,1707},{438,34}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{59,19},{438,34}}</string>
                <key>sourceSize</key>
                <string>{556,66}</string>
            </dict>
            <key>title_btn_achievements_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,1414},{556,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{556,66}}</string>
                <key>sourceSize</key>
                <string>{556,66}</string>
            </dict>
            <key>title_btn_endless_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{427,1743},{421,34}}</string>
                <key>offset</key>
                <string>{-8,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,19},{421,34}}</string>
                <key>sourceSize</key>
                <string>{523,66}</string>
            </dict>
            <key>title_btn_endless_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,1550},{523,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{523,66}}</string>
                <key>sourceSize</key>
                <string>{523,66}</string>
            </dict>
            <key>title_btn_facebook_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{860,151},{68,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,71}}</string>
                <key>sourceSize</key>
                <string>{68,71}</string>
            </dict>
            <key>title_btn_facebook_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{940,148},{68,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,71}}</string>
                <key>sourceSize</key>
                <string>{68,71}</string>
            </dict>
            <key>title_btn_options_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{699,1224},{250,34}}</string>
                <key>offset</key>
                <string>{-5,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,19},{250,34}}</string>
                <key>sourceSize</key>
                <string>{358,66}</string>
            </dict>
            <key>title_btn_options_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,1639},{358,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{358,66}}</string>
                <key>sourceSize</key>
                <string>{358,66}</string>
            </dict>
            <key>title_btn_play_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{699,1188},{317,34}}</string>
                <key>offset</key>
                <string>{-6,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,19},{317,34}}</string>
                <key>sourceSize</key>
                <string>{423,66}</string>
            </dict>
            <key>title_btn_play_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1770},{423,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{423,66}}</string>
                <key>sourceSize</key>
                <string>{423,66}</string>
            </dict>
            <key>title_btn_twitter_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{940,75},{68,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,71}}</string>
                <key>sourceSize</key>
                <string>{68,71}</string>
            </dict>
            <key>title_btn_twitter_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{945,2},{68,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,71}}</string>
                <key>sourceSize</key>
                <string>{68,71}</string>
            </dict>
            <key>title_copyright.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,1618},{499,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{499,19}}</string>
                <key>sourceSize</key>
                <string>{499,19}</string>
            </dict>
            <key>title_logo.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1188},{695,224}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{695,224}}</string>
                <key>sourceSize</key>
                <string>{695,224}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>title-hd.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d39e6f37b113e666985c2281bc79c769$</string>
            <key>textureFileName</key>
            <string>title-hd.png</string>
        </dict>
    </dict>
</plist>
