<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>level_back_button_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,2},{42,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,33}}</string>
                <key>sourceSize</key>
                <string>{42,33}</string>
            </dict>
            <key>level_frame.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,206},{428,202}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{428,202}}</string>
                <key>sourceSize</key>
                <string>{428,202}</string>
            </dict>
            <key>level_frame_overlay.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{428,202}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{428,202}}</string>
                <key>sourceSize</key>
                <string>{428,202}</string>
            </dict>
            <key>level_locked.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,410},{412,186}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{412,186}}</string>
                <key>sourceSize</key>
                <string>{412,186}</string>
            </dict>
            <key>level_pager.png</key>
            <dict>
                <key>frame</key>
                <string>{{468,116},{9,9}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{9,9}}</string>
                <key>sourceSize</key>
                <string>{13,13}</string>
            </dict>
            <key>level_pic_frame.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,712},{179,177}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{179,177}}</string>
                <key>sourceSize</key>
                <string>{179,177}</string>
            </dict>
            <key>level_star.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,37},{39,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,40}}</string>
                <key>sourceSize</key>
                <string>{39,40}</string>
            </dict>
            <key>level_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{183,747},{278,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{278,33}}</string>
                <key>sourceSize</key>
                <string>{278,33}</string>
            </dict>
            <key>title_btn_achievements.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,885},{219,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{219,17}}</string>
                <key>sourceSize</key>
                <string>{219,17}</string>
            </dict>
            <key>title_btn_achievements_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{183,864},{220,19}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,8},{220,19}}</string>
                <key>sourceSize</key>
                <string>{278,33}</string>
            </dict>
            <key>title_btn_achievements_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{183,712},{278,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{278,33}}</string>
                <key>sourceSize</key>
                <string>{278,33}</string>
            </dict>
            <key>title_btn_endless_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,926},{212,19}}</string>
                <key>offset</key>
                <string>{-4,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,8},{212,19}}</string>
                <key>sourceSize</key>
                <string>{262,33}</string>
            </dict>
            <key>title_btn_endless_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{183,782},{262,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{262,33}}</string>
                <key>sourceSize</key>
                <string>{262,33}</string>
            </dict>
            <key>title_btn_facebook_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,79},{34,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,36}}</string>
                <key>sourceSize</key>
                <string>{34,36}</string>
            </dict>
            <key>title_btn_facebook_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{473,78},{34,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,36}}</string>
                <key>sourceSize</key>
                <string>{34,36}</string>
            </dict>
            <key>title_btn_options_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,598},{125,19}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,8},{125,19}}</string>
                <key>sourceSize</key>
                <string>{179,33}</string>
            </dict>
            <key>title_btn_options_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{183,829},{179,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{179,33}}</string>
                <key>sourceSize</key>
                <string>{179,33}</string>
            </dict>
            <key>title_btn_play_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,947},{160,19}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,8},{160,19}}</string>
                <key>sourceSize</key>
                <string>{212,33}</string>
            </dict>
            <key>title_btn_play_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,891},{212,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{212,33}}</string>
                <key>sourceSize</key>
                <string>{212,33}</string>
            </dict>
            <key>title_btn_twitter_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{473,40},{34,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,36}}</string>
                <key>sourceSize</key>
                <string>{34,36}</string>
            </dict>
            <key>title_btn_twitter_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{476,2},{34,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,36}}</string>
                <key>sourceSize</key>
                <string>{34,36}</string>
            </dict>
            <key>title_copyright.png</key>
            <dict>
                <key>frame</key>
                <string>{{183,817},{250,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{250,10}}</string>
                <key>sourceSize</key>
                <string>{250,10}</string>
            </dict>
            <key>title_logo.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,598},{348,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{348,112}}</string>
                <key>sourceSize</key>
                <string>{348,112}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>title.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b09677b64887ce1d04723f46b79e0f37$</string>
            <key>textureFileName</key>
            <string>title.png</string>
        </dict>
    </dict>
</plist>
