<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>baton_cop_attack1.png</key>
            <dict>
                <key>frame</key>
                <string>{{34,138},{30,26}}</string>
                <key>offset</key>
                <string>{3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,17},{30,26}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>baton_cop_attack2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,198},{24,30}}</string>
                <key>offset</key>
                <string>{-4,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,13},{24,30}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>baton_cop_attack3.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,80},{24,32}}</string>
                <key>offset</key>
                <string>{-1,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,11},{24,32}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>baton_cop_attack4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{40,32}}</string>
                <key>offset</key>
                <string>{8,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,11},{40,32}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>baton_cop_attack5.png</key>
            <dict>
                <key>frame</key>
                <string>{{44,2},{40,26}}</string>
                <key>offset</key>
                <string>{8,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,17},{40,26}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>baton_cop_attack6.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,24},{36,26}}</string>
                <key>offset</key>
                <string>{6,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,17},{36,26}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>baton_cop_get_up1.png</key>
            <dict>
                <key>frame</key>
                <string>{{32,188},{28,20}}</string>
                <key>offset</key>
                <string>{-1,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,28},{28,20}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>baton_cop_get_up2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,172},{28,24}}</string>
                <key>offset</key>
                <string>{-1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,24},{28,24}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>baton_cop_get_up3.png</key>
            <dict>
                <key>frame</key>
                <string>{{34,166},{30,20}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,23},{30,20}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>baton_cop_get_up4.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,168},{28,24}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,14},{28,24}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>baton_cop_get_up5.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,114},{26,24}}</string>
                <key>offset</key>
                <string>{3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,19},{26,24}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>baton_cop_hit1.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,140},{28,26}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,17},{28,26}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>baton_cop_hit2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,64},{32,24}}</string>
                <key>offset</key>
                <string>{4,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,19},{32,24}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>baton_cop_idle1.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,52},{32,26}}</string>
                <key>offset</key>
                <string>{6,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,17},{32,26}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>baton_cop_idle2.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,136},{30,26}}</string>
                <key>offset</key>
                <string>{6,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,17},{30,26}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>baton_cop_idle3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,146},{30,24}}</string>
                <key>offset</key>
                <string>{6,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,19},{30,24}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>baton_cop_idle4.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,136},{30,26}}</string>
                <key>offset</key>
                <string>{6,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,17},{30,26}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>baton_cop_ko1.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,140},{28,26}}</string>
                <key>offset</key>
                <string>{5,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,12},{28,26}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>baton_cop_ko2.png</key>
            <dict>
                <key>frame</key>
                <string>{{44,30},{34,24}}</string>
                <key>offset</key>
                <string>{2,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,14},{34,24}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>baton_cop_ko3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,118},{30,26}}</string>
                <key>offset</key>
                <string>{2,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,14},{30,26}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>baton_cop_ko4.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,2},{38,20}}</string>
                <key>offset</key>
                <string>{4,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,29},{38,20}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>baton_cop_walk1.png</key>
            <dict>
                <key>frame</key>
                <string>{{34,110},{30,26}}</string>
                <key>offset</key>
                <string>{5,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,17},{30,26}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>baton_cop_walk2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,90},{30,26}}</string>
                <key>offset</key>
                <string>{6,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,17},{30,26}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>baton_cop_walk3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,36},{32,26}}</string>
                <key>offset</key>
                <string>{6,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,17},{32,26}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>baton_cop_walk4.png</key>
            <dict>
                <key>frame</key>
                <string>{{36,56},{32,24}}</string>
                <key>offset</key>
                <string>{6,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,19},{32,24}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>baton_cop_walk5.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,108},{30,26}}</string>
                <key>offset</key>
                <string>{6,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,17},{30,26}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>baton_cop_walk6.png</key>
            <dict>
                <key>frame</key>
                <string>{{36,82},{30,26}}</string>
                <key>offset</key>
                <string>{5,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,17},{30,26}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>baton_cop_walk7.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,80},{30,26}}</string>
                <key>offset</key>
                <string>{5,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,17},{30,26}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>baton_cop_walk8.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,164},{30,24}}</string>
                <key>offset</key>
                <string>{5,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,19},{30,24}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>baton_cop.png</string>
            <key>size</key>
            <string>{128,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c9e31b3bb585ea1ed4fb756459e13361$</string>
            <key>textureFileName</key>
            <string>baton_cop.png</string>
        </dict>
    </dict>
</plist>
