<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>baseball_pitcher_attack1.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,2},{26,28}}</string>
                <key>offset</key>
                <string>{-1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,15},{26,28}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>baseball_pitcher_attack2.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,50},{28,28}}</string>
                <key>offset</key>
                <string>{-3,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,15},{28,28}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>baseball_pitcher_attack3.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,92},{22,28}}</string>
                <key>offset</key>
                <string>{3,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,15},{22,28}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>baseball_pitcher_attack4.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,150},{22,26}}</string>
                <key>offset</key>
                <string>{5,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,17},{22,26}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>baseball_pitcher_attack5.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,150},{22,26}}</string>
                <key>offset</key>
                <string>{5,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,17},{22,26}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>baseball_pitcher_attack6.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,122},{22,26}}</string>
                <key>offset</key>
                <string>{3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,17},{22,26}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>baseball_pitcher_get_up1.png</key>
            <dict>
                <key>frame</key>
                <string>{{34,28},{30,22}}</string>
                <key>offset</key>
                <string>{-2,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,27},{30,22}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>baseball_pitcher_get_up2.png</key>
            <dict>
                <key>frame</key>
                <string>{{36,2},{30,24}}</string>
                <key>offset</key>
                <string>{-2,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,25},{30,24}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>baseball_pitcher_get_up3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,28},{30,22}}</string>
                <key>offset</key>
                <string>{-2,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,25},{30,22}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>baseball_pitcher_get_up4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{32,24}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,14},{32,24}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>baseball_pitcher_get_up5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,82},{24,26}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,17},{24,26}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>baseball_pitcher_hit1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,52},{24,28}}</string>
                <key>offset</key>
                <string>{-1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,15},{24,28}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>baseball_pitcher_hit2.png</key>
            <dict>
                <key>frame</key>
                <string>{{28,80},{24,26}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,17},{24,26}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>baseball_pitcher_idle1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,140},{22,28}}</string>
                <key>offset</key>
                <string>{1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,15},{22,28}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>baseball_pitcher_idle2.png</key>
            <dict>
                <key>frame</key>
                <string>{{26,138},{22,28}}</string>
                <key>offset</key>
                <string>{1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,15},{22,28}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>baseball_pitcher_idle3.png</key>
            <dict>
                <key>frame</key>
                <string>{{50,140},{22,26}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,17},{22,26}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>baseball_pitcher_idle4.png</key>
            <dict>
                <key>frame</key>
                <string>{{26,138},{22,28}}</string>
                <key>offset</key>
                <string>{1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,15},{22,28}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>baseball_pitcher_ko1.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,62},{24,28}}</string>
                <key>offset</key>
                <string>{3,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,10},{24,28}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>baseball_pitcher_ko2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{32,24}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,14},{32,24}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>baseball_pitcher_ko3.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,26},{30,22}}</string>
                <key>offset</key>
                <string>{-1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,18},{30,22}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>baseball_pitcher_ko4.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,2},{30,22}}</string>
                <key>offset</key>
                <string>{-2,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,27},{30,22}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>baseball_pitcher_walk1.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,110},{22,28}}</string>
                <key>offset</key>
                <string>{1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,15},{22,28}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>baseball_pitcher_walk2.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,92},{22,28}}</string>
                <key>offset</key>
                <string>{1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,15},{22,28}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>baseball_pitcher_walk3.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,32},{24,28}}</string>
                <key>offset</key>
                <string>{1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,15},{24,28}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>baseball_pitcher_walk4.png</key>
            <dict>
                <key>frame</key>
                <string>{{28,52},{24,26}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,17},{24,26}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>baseball_pitcher_walk5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,110},{22,28}}</string>
                <key>offset</key>
                <string>{1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,15},{22,28}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>baseball_pitcher_walk6.png</key>
            <dict>
                <key>frame</key>
                <string>{{28,108},{22,28}}</string>
                <key>offset</key>
                <string>{1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,15},{22,28}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>baseball_pitcher_walk7.png</key>
            <dict>
                <key>frame</key>
                <string>{{54,80},{22,28}}</string>
                <key>offset</key>
                <string>{1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,15},{22,28}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>baseball_pitcher_walk8.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,122},{22,26}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,17},{22,26}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>baseball_pitcher.png</string>
            <key>size</key>
            <string>{128,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:22a2e1e58c040585c150e5e7b7c834ef$</string>
            <key>textureFileName</key>
            <string>baseball_pitcher.png</string>
        </dict>
    </dict>
</plist>
