<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>pause_bkg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{856,506}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{856,506}}</string>
                <key>sourceSize</key>
                <string>{856,506}</string>
            </dict>
            <key>pause_btn_continue_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{487,720},{483,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{483,103}}</string>
                <key>sourceSize</key>
                <string>{483,103}</string>
            </dict>
            <key>pause_btn_continue_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,720},{483,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{483,103}}</string>
                <key>sourceSize</key>
                <string>{483,103}</string>
            </dict>
            <key>pause_btn_mainmenu_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{487,615},{483,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{483,103}}</string>
                <key>sourceSize</key>
                <string>{483,103}</string>
            </dict>
            <key>pause_btn_mainmenu_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,615},{483,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{483,103}}</string>
                <key>sourceSize</key>
                <string>{483,103}</string>
            </dict>
            <key>pause_btn_options_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{487,510},{483,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{483,103}}</string>
                <key>sourceSize</key>
                <string>{483,103}</string>
            </dict>
            <key>pause_btn_options_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,510},{483,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{483,103}}</string>
                <key>sourceSize</key>
                <string>{483,103}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>pause-hd.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7f7e4744688343aa3ce2f6d89f15c0fa$</string>
            <key>textureFileName</key>
            <string>pause-hd.png</string>
        </dict>
    </dict>
</plist>
