<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>pause_bkg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{428,253}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{428,253}}</string>
                <key>sourceSize</key>
                <string>{428,253}</string>
            </dict>
            <key>pause_btn_continue_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,365},{242,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{242,52}}</string>
                <key>sourceSize</key>
                <string>{242,52}</string>
            </dict>
            <key>pause_btn_continue_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,365},{242,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{242,52}}</string>
                <key>sourceSize</key>
                <string>{242,52}</string>
            </dict>
            <key>pause_btn_mainmenu_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,311},{242,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{242,52}}</string>
                <key>sourceSize</key>
                <string>{242,52}</string>
            </dict>
            <key>pause_btn_mainmenu_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,311},{242,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{242,52}}</string>
                <key>sourceSize</key>
                <string>{242,52}</string>
            </dict>
            <key>pause_btn_options_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,257},{242,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{242,52}}</string>
                <key>sourceSize</key>
                <string>{242,52}</string>
            </dict>
            <key>pause_btn_options_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,257},{242,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{242,52}}</string>
                <key>sourceSize</key>
                <string>{242,52}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>pause.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7bc262dcff97ea1f8293e2c9d322a6cf$</string>
            <key>textureFileName</key>
            <string>pause.png</string>
        </dict>
    </dict>
</plist>
