<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>zombie_attack1.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,116},{22,26}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,17},{22,26}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>zombie_attack2.png</key>
            <dict>
                <key>frame</key>
                <string>{{62,78},{24,26}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,17},{24,26}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>zombie_attack3.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,28},{28,26}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,17},{28,26}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>zombie_attack4.png</key>
            <dict>
                <key>frame</key>
                <string>{{38,2},{32,24}}</string>
                <key>offset</key>
                <string>{6,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,19},{32,24}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>zombie_attack5.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,2},{30,24}}</string>
                <key>offset</key>
                <string>{7,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,19},{30,24}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>zombie_attack6.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,180},{20,24}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,19},{20,24}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>zombie_get_up1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,76},{28,20}}</string>
                <key>offset</key>
                <string>{-1,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,28},{28,20}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>zombie_get_up2.png</key>
            <dict>
                <key>frame</key>
                <string>{{32,74},{28,20}}</string>
                <key>offset</key>
                <string>{-1,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,28},{28,20}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>zombie_get_up3.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,56},{28,20}}</string>
                <key>offset</key>
                <string>{-1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,26},{28,20}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>zombie_get_up4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,50},{28,24}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,14},{28,24}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>zombie_get_up5.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,170},{20,24}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,19},{20,24}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>zombie_hit1.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,152},{20,26}}</string>
                <key>offset</key>
                <string>{-3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,17},{20,26}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>zombie_hit2.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,144},{22,24}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,19},{22,24}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>zombie_idle1.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,116},{22,26}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,17},{22,26}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>zombie_idle2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,126},{22,26}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,17},{22,26}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>zombie_idle3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,154},{22,24}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,19},{22,24}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>zombie_idle4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,126},{22,26}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,17},{22,26}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>zombie_ko1.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,152},{20,26}}</string>
                <key>offset</key>
                <string>{1,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,12},{20,26}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>zombie_ko2.png</key>
            <dict>
                <key>frame</key>
                <string>{{34,48},{28,24}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,14},{28,24}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>zombie_ko3.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,30},{28,22}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,18},{28,22}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>zombie_ko4.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,54},{28,20}}</string>
                <key>offset</key>
                <string>{-1,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,29},{28,20}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>zombie_spawn1.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,88},{14,6}}</string>
                <key>offset</key>
                <string>{6,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,37},{14,6}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>zombie_spawn2.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,144},{22,6}}</string>
                <key>offset</key>
                <string>{3,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,37},{22,6}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>zombie_spawn3.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,76},{28,10}}</string>
                <key>offset</key>
                <string>{1,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,33},{28,10}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>zombie_spawn4.png</key>
            <dict>
                <key>frame</key>
                <string>{{50,160},{22,16}}</string>
                <key>offset</key>
                <string>{2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,27},{22,16}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>zombie_spawn5.png</key>
            <dict>
                <key>frame</key>
                <string>{{34,28},{30,18}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,25},{30,18}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>zombie_spawn6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{34,20}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,23},{34,20}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>zombie_spawn7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,24},{30,24}}</string>
                <key>offset</key>
                <string>{4,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,19},{30,24}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>zombie_walk1.png</key>
            <dict>
                <key>frame</key>
                <string>{{26,124},{22,26}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,17},{22,26}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>zombie_walk2.png</key>
            <dict>
                <key>frame</key>
                <string>{{56,106},{22,26}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,17},{22,26}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>zombie_walk3.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,88},{22,26}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,17},{22,26}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>zombie_walk4.png</key>
            <dict>
                <key>frame</key>
                <string>{{26,152},{22,24}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,19},{22,24}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>zombie_walk5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,98},{22,26}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,17},{22,26}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>zombie_walk6.png</key>
            <dict>
                <key>frame</key>
                <string>{{32,96},{22,26}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,17},{22,26}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>zombie_walk7.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,2},{22,26}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,17},{22,26}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>zombie_walk8.png</key>
            <dict>
                <key>frame</key>
                <string>{{50,134},{22,24}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,19},{22,24}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>zombie.png</string>
            <key>size</key>
            <string>{128,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3a05eddfdd11675d078c46f3b6b96a86$</string>
            <key>textureFileName</key>
            <string>zombie.png</string>
        </dict>
    </dict>
</plist>
