<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>boss5_attack1.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,216},{52,42}}</string>
                <key>offset</key>
                <string>{5,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,9},{52,42}}</string>
                <key>sourceSize</key>
                <string>{96,64}</string>
            </dict>
            <key>boss5_attack2.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,260},{36,46}}</string>
                <key>offset</key>
                <string>{-5,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,5},{36,46}}</string>
                <key>sourceSize</key>
                <string>{96,64}</string>
            </dict>
            <key>boss5_attack3.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,220},{38,52}}</string>
                <key>offset</key>
                <string>{-1,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,0},{38,52}}</string>
                <key>sourceSize</key>
                <string>{96,64}</string>
            </dict>
            <key>boss5_attack4.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,2},{62,50}}</string>
                <key>offset</key>
                <string>{14,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,1},{62,50}}</string>
                <key>sourceSize</key>
                <string>{96,64}</string>
            </dict>
            <key>boss5_attack5.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,2},{62,40}}</string>
                <key>offset</key>
                <string>{14,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,11},{62,40}}</string>
                <key>sourceSize</key>
                <string>{96,64}</string>
            </dict>
            <key>boss5_attack6.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,86},{58,42}}</string>
                <key>offset</key>
                <string>{10,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,9},{58,42}}</string>
                <key>sourceSize</key>
                <string>{96,64}</string>
            </dict>
            <key>boss5_die1.png</key>
            <dict>
                <key>frame</key>
                <string>{{58,182},{52,44}}</string>
                <key>offset</key>
                <string>{4,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,7},{52,44}}</string>
                <key>sourceSize</key>
                <string>{96,64}</string>
            </dict>
            <key>boss5_head1.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,176},{22,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,25}}</string>
                <key>sourceSize</key>
                <string>{22,25}</string>
            </dict>
            <key>boss5_head2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,304},{34,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,30}}</string>
                <key>sourceSize</key>
                <string>{34,30}</string>
            </dict>
            <key>boss5_idle1.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,132},{54,42}}</string>
                <key>offset</key>
                <string>{9,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,9},{54,42}}</string>
                <key>sourceSize</key>
                <string>{96,64}</string>
            </dict>
            <key>boss5_idle2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,174},{54,42}}</string>
                <key>offset</key>
                <string>{9,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,9},{54,42}}</string>
                <key>sourceSize</key>
                <string>{96,64}</string>
            </dict>
            <key>boss5_idle3.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,174},{54,40}}</string>
                <key>offset</key>
                <string>{8,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,11},{54,40}}</string>
                <key>sourceSize</key>
                <string>{96,64}</string>
            </dict>
            <key>boss5_idle4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,174},{54,42}}</string>
                <key>offset</key>
                <string>{9,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,9},{54,42}}</string>
                <key>sourceSize</key>
                <string>{96,64}</string>
            </dict>
            <key>boss5_lean1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,130},{56,42}}</string>
                <key>offset</key>
                <string>{10,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,9},{56,42}}</string>
                <key>sourceSize</key>
                <string>{96,64}</string>
            </dict>
            <key>boss5_lean2.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,46},{58,42}}</string>
                <key>offset</key>
                <string>{11,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,9},{58,42}}</string>
                <key>sourceSize</key>
                <string>{96,64}</string>
            </dict>
            <key>boss5_lean3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,88},{60,40}}</string>
                <key>offset</key>
                <string>{12,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,11},{60,40}}</string>
                <key>sourceSize</key>
                <string>{96,64}</string>
            </dict>
            <key>boss5_shoot1.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,54},{60,40}}</string>
                <key>offset</key>
                <string>{12,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,11},{60,40}}</string>
                <key>sourceSize</key>
                <string>{96,64}</string>
            </dict>
            <key>boss5_shoot2.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,96},{58,40}}</string>
                <key>offset</key>
                <string>{12,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,11},{58,40}}</string>
                <key>sourceSize</key>
                <string>{96,64}</string>
            </dict>
            <key>boss5_shoot3.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,44},{60,40}}</string>
                <key>offset</key>
                <string>{12,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,11},{60,40}}</string>
                <key>sourceSize</key>
                <string>{96,64}</string>
            </dict>
            <key>boss5_spin1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{66,42}}</string>
                <key>offset</key>
                <string>{6,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,9},{66,42}}</string>
                <key>sourceSize</key>
                <string>{96,64}</string>
            </dict>
            <key>boss5_spin2.png</key>
            <dict>
                <key>frame</key>
                <string>{{54,272},{36,40}}</string>
                <key>offset</key>
                <string>{8,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,10},{36,40}}</string>
                <key>sourceSize</key>
                <string>{96,64}</string>
            </dict>
            <key>boss5_spin3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,46},{62,40}}</string>
                <key>offset</key>
                <string>{-8,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,10},{62,40}}</string>
                <key>sourceSize</key>
                <string>{96,64}</string>
            </dict>
            <key>boss5_spin4.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,220},{40,40}}</string>
                <key>offset</key>
                <string>{-10,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,10},{40,40}}</string>
                <key>sourceSize</key>
                <string>{96,64}</string>
            </dict>
            <key>boss5_walk1.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,176},{52,42}}</string>
                <key>offset</key>
                <string>{9,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,9},{52,42}}</string>
                <key>sourceSize</key>
                <string>{96,64}</string>
            </dict>
            <key>boss5_walk2.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,138},{54,42}}</string>
                <key>offset</key>
                <string>{9,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,9},{54,42}}</string>
                <key>sourceSize</key>
                <string>{96,64}</string>
            </dict>
            <key>boss5_walk3.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,2},{56,42}}</string>
                <key>offset</key>
                <string>{9,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,9},{56,42}}</string>
                <key>sourceSize</key>
                <string>{96,64}</string>
            </dict>
            <key>boss5_walk4.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,90},{56,40}}</string>
                <key>offset</key>
                <string>{9,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,11},{56,40}}</string>
                <key>sourceSize</key>
                <string>{96,64}</string>
            </dict>
            <key>boss5_walk5.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,130},{54,42}}</string>
                <key>offset</key>
                <string>{9,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,9},{54,42}}</string>
                <key>sourceSize</key>
                <string>{96,64}</string>
            </dict>
            <key>boss5_walk6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,218},{52,42}}</string>
                <key>offset</key>
                <string>{9,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,9},{52,42}}</string>
                <key>sourceSize</key>
                <string>{96,64}</string>
            </dict>
            <key>boss5_walk7.png</key>
            <dict>
                <key>frame</key>
                <string>{{56,228},{50,42}}</string>
                <key>offset</key>
                <string>{9,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,9},{50,42}}</string>
                <key>sourceSize</key>
                <string>{96,64}</string>
            </dict>
            <key>boss5_walk8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,262},{50,40}}</string>
                <key>offset</key>
                <string>{9,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,11},{50,40}}</string>
                <key>sourceSize</key>
                <string>{96,64}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>boss5.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a12ad7b6e51accf66279b2e87edc6e9d$</string>
            <key>textureFileName</key>
            <string>boss5.png</string>
        </dict>
    </dict>
</plist>
