<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>worker_attack1.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,76},{32,24}}</string>
                <key>offset</key>
                <string>{4,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,19},{32,24}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>worker_attack2.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,128},{26,34}}</string>
                <key>offset</key>
                <string>{-5,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,9},{26,34}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>worker_attack3.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,76},{22,38}}</string>
                <key>offset</key>
                <string>{-1,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,5},{22,38}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>worker_attack4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{40,38}}</string>
                <key>offset</key>
                <string>{8,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,5},{40,38}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>worker_attack5.png</key>
            <dict>
                <key>frame</key>
                <string>{{44,2},{40,28}}</string>
                <key>offset</key>
                <string>{8,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,15},{40,28}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>worker_attack6.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,2},{36,24}}</string>
                <key>offset</key>
                <string>{6,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,19},{36,24}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>worker_get_up1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,176},{30,24}}</string>
                <key>offset</key>
                <string>{1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,25},{30,24}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>worker_get_up2.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,164},{26,28}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,20},{26,28}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>worker_get_up3.png</key>
            <dict>
                <key>frame</key>
                <string>{{34,186},{30,22}}</string>
                <key>offset</key>
                <string>{-2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,24},{30,22}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>worker_get_up4.png</key>
            <dict>
                <key>frame</key>
                <string>{{44,32},{34,24}}</string>
                <key>offset</key>
                <string>{5,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,14},{34,24}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>worker_get_up5.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,180},{30,22}}</string>
                <key>offset</key>
                <string>{6,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,21},{30,22}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>worker_hit1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,72},{32,24}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,19},{32,24}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>worker_hit2.png</key>
            <dict>
                <key>frame</key>
                <string>{{36,84},{32,22}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,21},{32,22}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>worker_idle1.png</key>
            <dict>
                <key>frame</key>
                <string>{{34,160},{30,24}}</string>
                <key>offset</key>
                <string>{6,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,19},{30,24}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>worker_idle2.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,154},{30,24}}</string>
                <key>offset</key>
                <string>{6,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,19},{30,24}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>worker_idle3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,150},{30,24}}</string>
                <key>offset</key>
                <string>{5,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,19},{30,24}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>worker_idle4.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,154},{30,24}}</string>
                <key>offset</key>
                <string>{6,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,19},{30,24}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>worker_ko1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,72},{32,24}}</string>
                <key>offset</key>
                <string>{6,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,14},{32,24}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>worker_ko2.png</key>
            <dict>
                <key>frame</key>
                <string>{{44,32},{34,24}}</string>
                <key>offset</key>
                <string>{5,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,14},{34,24}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>worker_ko3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,42},{32,28}}</string>
                <key>offset</key>
                <string>{3,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,12},{32,28}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>worker_ko4.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,28},{36,20}}</string>
                <key>offset</key>
                <string>{4,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,29},{36,20}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>worker_walk1.png</key>
            <dict>
                <key>frame</key>
                <string>{{34,134},{30,24}}</string>
                <key>offset</key>
                <string>{5,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,19},{30,24}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>worker_walk2.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,128},{30,24}}</string>
                <key>offset</key>
                <string>{6,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,19},{30,24}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>worker_walk3.png</key>
            <dict>
                <key>frame</key>
                <string>{{36,58},{32,24}}</string>
                <key>offset</key>
                <string>{6,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,19},{32,24}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>worker_walk4.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,50},{32,24}}</string>
                <key>offset</key>
                <string>{6,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,19},{32,24}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>worker_walk5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,124},{30,24}}</string>
                <key>offset</key>
                <string>{6,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,19},{30,24}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>worker_walk6.png</key>
            <dict>
                <key>frame</key>
                <string>{{34,108},{30,24}}</string>
                <key>offset</key>
                <string>{5,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,19},{30,24}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>worker_walk7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,98},{30,24}}</string>
                <key>offset</key>
                <string>{5,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,19},{30,24}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>worker_walk8.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,102},{30,24}}</string>
                <key>offset</key>
                <string>{5,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,19},{30,24}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>worker.png</string>
            <key>size</key>
            <string>{128,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c2ce172fc84005eb04fe3c7c5c01f3bf$</string>
            <key>textureFileName</key>
            <string>worker.png</string>
        </dict>
    </dict>
</plist>
