<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>boss3_attack1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,68},{36,38}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,12},{36,38}}</string>
                <key>sourceSize</key>
                <string>{96,64}</string>
            </dict>
            <key>boss3_attack2.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,78},{38,38}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,12},{38,38}}</string>
                <key>sourceSize</key>
                <string>{96,64}</string>
            </dict>
            <key>boss3_attack3.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,42},{42,38}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,12},{42,38}}</string>
                <key>sourceSize</key>
                <string>{96,64}</string>
            </dict>
            <key>boss3_attack4.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,40},{48,36}}</string>
                <key>offset</key>
                <string>{5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,14},{48,36}}</string>
                <key>sourceSize</key>
                <string>{96,64}</string>
            </dict>
            <key>boss3_attack5.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,44},{42,36}}</string>
                <key>offset</key>
                <string>{8,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,14},{42,36}}</string>
                <key>sourceSize</key>
                <string>{96,64}</string>
            </dict>
            <key>boss3_attack6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,148},{30,38}}</string>
                <key>offset</key>
                <string>{3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,12},{30,38}}</string>
                <key>sourceSize</key>
                <string>{96,64}</string>
            </dict>
            <key>boss3_dash1.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,2},{52,36}}</string>
                <key>offset</key>
                <string>{7,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,14},{52,36}}</string>
                <key>sourceSize</key>
                <string>{96,64}</string>
            </dict>
            <key>boss3_dash2.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,2},{52,40}}</string>
                <key>offset</key>
                <string>{7,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,15},{52,40}}</string>
                <key>sourceSize</key>
                <string>{96,64}</string>
            </dict>
            <key>boss3_die1.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,2},{42,38}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,12},{42,38}}</string>
                <key>sourceSize</key>
                <string>{96,64}</string>
            </dict>
            <key>boss3_idle1.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,118},{34,38}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,12},{34,38}}</string>
                <key>sourceSize</key>
                <string>{96,64}</string>
            </dict>
            <key>boss3_idle2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,108},{34,38}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,12},{34,38}}</string>
                <key>sourceSize</key>
                <string>{96,64}</string>
            </dict>
            <key>boss3_idle3.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,122},{34,36}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,14},{34,36}}</string>
                <key>sourceSize</key>
                <string>{96,64}</string>
            </dict>
            <key>boss3_idle4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,108},{34,38}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,12},{34,38}}</string>
                <key>sourceSize</key>
                <string>{96,64}</string>
            </dict>
            <key>boss3_shield1.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,82},{28,36}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,14},{28,36}}</string>
                <key>sourceSize</key>
                <string>{96,64}</string>
            </dict>
            <key>boss3_walk1.png</key>
            <dict>
                <key>frame</key>
                <string>{{38,146},{32,38}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,12},{32,38}}</string>
                <key>sourceSize</key>
                <string>{96,64}</string>
            </dict>
            <key>boss3_walk2.png</key>
            <dict>
                <key>frame</key>
                <string>{{40,106},{34,38}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,12},{34,38}}</string>
                <key>sourceSize</key>
                <string>{96,64}</string>
            </dict>
            <key>boss3_walk3.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,82},{36,38}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,12},{36,38}}</string>
                <key>sourceSize</key>
                <string>{96,64}</string>
            </dict>
            <key>boss3_walk4.png</key>
            <dict>
                <key>frame</key>
                <string>{{40,68},{36,36}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,14},{36,36}}</string>
                <key>sourceSize</key>
                <string>{96,64}</string>
            </dict>
            <key>boss3_walk5.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,82},{34,38}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,12},{34,38}}</string>
                <key>sourceSize</key>
                <string>{96,64}</string>
            </dict>
            <key>boss3_walk6.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,82},{32,38}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,12},{32,38}}</string>
                <key>sourceSize</key>
                <string>{96,64}</string>
            </dict>
            <key>boss3_walk7.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,122},{30,38}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,12},{30,38}}</string>
                <key>sourceSize</key>
                <string>{96,64}</string>
            </dict>
            <key>boss3_walk8.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,160},{30,36}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,14},{30,36}}</string>
                <key>sourceSize</key>
                <string>{96,64}</string>
            </dict>
            <key>boss_idle1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{96,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,64}}</string>
                <key>sourceSize</key>
                <string>{96,64}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>boss3.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c06bd724237b6eb17469055e4c16add4$</string>
            <key>textureFileName</key>
            <string>boss3.png</string>
        </dict>
    </dict>
</plist>
