<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>boss_health_bar1.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,68},{564,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{564,16}}</string>
                <key>sourceSize</key>
                <string>{564,16}</string>
            </dict>
            <key>boss_health_frame1.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,2},{588,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{588,64}}</string>
                <key>sourceSize</key>
                <string>{588,64}</string>
            </dict>
            <key>durability_bar1.png</key>
            <dict>
                <key>frame</key>
                <string>{{596,104},{152,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{152,16}}</string>
                <key>sourceSize</key>
                <string>{152,16}</string>
            </dict>
            <key>durability_frame1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,92},{200,32}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,18},{200,32}}</string>
                <key>sourceSize</key>
                <string>{256,64}</string>
            </dict>
            <key>go_arrow1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{110,88}}</string>
                <key>offset</key>
                <string>{17,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,8},{110,88}}</string>
                <key>sourceSize</key>
                <string>{160,104}</string>
            </dict>
            <key>health_bar1.png</key>
            <dict>
                <key>frame</key>
                <string>{{596,86},{152,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{152,16}}</string>
                <key>sourceSize</key>
                <string>{152,16}</string>
            </dict>
            <key>health_frame1.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,86},{204,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,14},{204,36}}</string>
                <key>sourceSize</key>
                <string>{256,64}</string>
            </dict>
            <key>pause_button1.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,2},{80,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,26},{80,76}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>rage_bar1.png</key>
            <dict>
                <key>frame</key>
                <string>{{750,86},{136,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,16}}</string>
                <key>sourceSize</key>
                <string>{136,16}</string>
            </dict>
            <key>rage_frame1.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,86},{184,40}}</string>
                <key>offset</key>
                <string>{-6,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,10},{184,40}}</string>
                <key>sourceSize</key>
                <string>{256,64}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>gui-hd.png</string>
            <key>size</key>
            <string>{1024,128}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d5674a71175a96b5a495c8e8342dd4cd$</string>
            <key>textureFileName</key>
            <string>gui-hd.png</string>
        </dict>
    </dict>
</plist>
