<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bg5_1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,196},{720,192}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{720,192}}</string>
                <key>sourceSize</key>
                <string>{720,192}</string>
            </dict>
            <key>bg5_1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{720,192}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{720,192}}</string>
                <key>sourceSize</key>
                <string>{720,192}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>bg5_1.png</string>
            <key>size</key>
            <string>{1024,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:91461d7ccce502e8952dad406819953e$</string>
            <key>textureFileName</key>
            <string>bg5_1.png</string>
        </dict>
    </dict>
</plist>
