<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>spikes1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,20},{12,10}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,6},{12,10}}</string>
                <key>sourceSize</key>
                <string>{16,16}</string>
            </dict>
            <key>spikes2.png</key>
            <dict>
                <key>frame</key>
                <string>{{16,2},{12,14}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{12,14}}</string>
                <key>sourceSize</key>
                <string>{16,16}</string>
            </dict>
            <key>spikes3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{12,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{12,16}}</string>
                <key>sourceSize</key>
                <string>{16,16}</string>
            </dict>
            <key>spikes4.png</key>
            <dict>
                <key>frame</key>
                <string>{{16,2},{12,14}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{12,14}}</string>
                <key>sourceSize</key>
                <string>{16,16}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>spikes.png</string>
            <key>size</key>
            <string>{32,32}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3293a1e6cfe5bc2f0cc91369e54256c1$</string>
            <key>textureFileName</key>
            <string>spikes.png</string>
        </dict>
    </dict>
</plist>
