<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>laser_beam1.png</key>
            <dict>
                <key>frame</key>
                <string>{{34,2},{14,11}}</string>
                <key>offset</key>
                <string>{0,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,11}}</string>
                <key>sourceSize</key>
                <string>{14,59}</string>
            </dict>
            <key>laser_beam2.png</key>
            <dict>
                <key>frame</key>
                <string>{{18,2},{14,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,59}}</string>
                <key>sourceSize</key>
                <string>{14,59}</string>
            </dict>
            <key>laser_beam3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{14,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,59}}</string>
                <key>sourceSize</key>
                <string>{14,59}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>laser_beam.png</string>
            <key>size</key>
            <string>{64,64}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:33aaca0f90afc5b738d0078e5f97bfb6$</string>
            <key>textureFileName</key>
            <string>laser_beam.png</string>
        </dict>
    </dict>
</plist>
