<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>mime_attack1.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,74},{22,26}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,17},{22,26}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>mime_attack2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,78},{22,26}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,17},{22,26}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>mime_attack3.png</key>
            <dict>
                <key>frame</key>
                <string>{{58,52},{24,26}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,17},{24,26}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>mime_attack4.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,2},{28,26}}</string>
                <key>offset</key>
                <string>{5,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,17},{28,26}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>mime_attack5.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,46},{24,26}}</string>
                <key>offset</key>
                <string>{7,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,17},{24,26}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>mime_attack6.png</key>
            <dict>
                <key>frame</key>
                <string>{{24,160},{18,26}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,17},{18,26}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>mime_get_up1.png</key>
            <dict>
                <key>frame</key>
                <string>{{34,2},{30,18}}</string>
                <key>offset</key>
                <string>{-1,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,30},{30,18}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>mime_get_up2.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,2},{28,18}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,30},{28,18}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>mime_get_up3.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,22},{26,22}}</string>
                <key>offset</key>
                <string>{-1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,26},{26,22}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>mime_get_up4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,24},{28,24}}</string>
                <key>offset</key>
                <string>{-1,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,15},{28,24}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>mime_get_up5.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,130},{20,24}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,19},{20,24}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>mime_hit1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,50},{24,26}}</string>
                <key>offset</key>
                <string>{-5,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,17},{24,26}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>mime_hit2.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,102},{20,26}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,17},{20,26}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>mime_idle1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,134},{20,26}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,17},{20,26}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>mime_idle2.png</key>
            <dict>
                <key>frame</key>
                <string>{{24,132},{20,26}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,17},{20,26}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>mime_idle3.png</key>
            <dict>
                <key>frame</key>
                <string>{{48,108},{20,26}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,17},{20,26}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>mime_idle4.png</key>
            <dict>
                <key>frame</key>
                <string>{{24,132},{20,26}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,17},{20,26}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>mime_ko1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,50},{24,26}}</string>
                <key>offset</key>
                <string>{-1,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,12},{24,26}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>mime_ko2.png</key>
            <dict>
                <key>frame</key>
                <string>{{34,22},{28,24}}</string>
                <key>offset</key>
                <string>{-1,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,15},{28,24}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>mime_ko3.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,30},{26,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,22},{26,20}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>mime_ko4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{30,20}}</string>
                <key>offset</key>
                <string>{-1,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,29},{30,20}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>mime_walk1.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,102},{20,26}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,17},{20,26}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>mime_walk2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,106},{20,26}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,17},{20,26}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>mime_walk3.png</key>
            <dict>
                <key>frame</key>
                <string>{{28,76},{22,26}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,17},{22,26}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>mime_walk4.png</key>
            <dict>
                <key>frame</key>
                <string>{{32,48},{24,26}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,17},{24,26}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>mime_walk5.png</key>
            <dict>
                <key>frame</key>
                <string>{{26,104},{20,26}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,17},{20,26}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>mime_walk6.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,80},{20,26}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,17},{20,26}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>mime_walk7.png</key>
            <dict>
                <key>frame</key>
                <string>{{46,136},{18,26}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,17},{18,26}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>mime_walk8.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,74},{18,26}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,17},{18,26}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>mime.png</string>
            <key>size</key>
            <string>{128,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3ea52a691d8d20a4c9aaeb90bcf6834e$</string>
            <key>textureFileName</key>
            <string>mime.png</string>
        </dict>
    </dict>
</plist>
