<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>pistol_cop_get_up1.png</key>
            <dict>
                <key>frame</key>
                <string>{{34,82},{30,22}}</string>
                <key>offset</key>
                <string>{-2,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,28},{30,22}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>pistol_cop_get_up2.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,112},{28,24}}</string>
                <key>offset</key>
                <string>{-1,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,26},{28,24}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>pistol_cop_get_up3.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,138},{28,22}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,23},{28,22}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>pistol_cop_get_up4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,58},{30,24}}</string>
                <key>offset</key>
                <string>{-1,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,14},{30,24}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>pistol_cop_get_up5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,196},{24,24}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,19},{24,24}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>pistol_cop_hit1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,168},{26,26}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,17},{26,26}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>pistol_cop_hit2.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,56},{30,24}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,19},{30,24}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>pistol_cop_idle1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,140},{28,26}}</string>
                <key>offset</key>
                <string>{3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,17},{28,26}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>pistol_cop_idle2.png</key>
            <dict>
                <key>frame</key>
                <string>{{32,134},{28,26}}</string>
                <key>offset</key>
                <string>{3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,17},{28,26}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>pistol_cop_idle3.png</key>
            <dict>
                <key>frame</key>
                <string>{{62,110},{28,26}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,17},{28,26}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>pistol_cop_idle4.png</key>
            <dict>
                <key>frame</key>
                <string>{{32,134},{28,26}}</string>
                <key>offset</key>
                <string>{3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,17},{28,26}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>pistol_cop_ko1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,168},{26,26}}</string>
                <key>offset</key>
                <string>{2,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,12},{26,26}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>pistol_cop_ko2.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,2},{32,24}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,14},{32,24}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>pistol_cop_ko3.png</key>
            <dict>
                <key>frame</key>
                <string>{{62,138},{28,22}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,19},{28,22}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>pistol_cop_ko4.png</key>
            <dict>
                <key>frame</key>
                <string>{{34,58},{30,22}}</string>
                <key>offset</key>
                <string>{-1,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,28},{30,22}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>pistol_cop_shoot1.png</key>
            <dict>
                <key>frame</key>
                <string>{{34,30},{30,26}}</string>
                <key>offset</key>
                <string>{4,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,17},{30,26}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>pistol_cop_shoot2.png</key>
            <dict>
                <key>frame</key>
                <string>{{44,2},{36,26}}</string>
                <key>offset</key>
                <string>{6,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,17},{36,26}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>pistol_cop_shoot3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{40,26}}</string>
                <key>offset</key>
                <string>{8,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,17},{40,26}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>pistol_cop_walk1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,112},{28,26}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,17},{28,26}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>pistol_cop_walk2.png</key>
            <dict>
                <key>frame</key>
                <string>{{32,106},{28,26}}</string>
                <key>offset</key>
                <string>{3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,17},{28,26}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>pistol_cop_walk3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,30},{30,26}}</string>
                <key>offset</key>
                <string>{3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,17},{30,26}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>pistol_cop_walk4.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,28},{30,26}}</string>
                <key>offset</key>
                <string>{3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,17},{30,26}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>pistol_cop_walk5.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,84},{28,26}}</string>
                <key>offset</key>
                <string>{3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,17},{28,26}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>pistol_cop_walk6.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,82},{28,26}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,17},{28,26}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>pistol_cop_walk7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,84},{28,26}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,17},{28,26}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>pistol_cop_walk8.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,56},{28,26}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,17},{28,26}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>pistol_cop.png</string>
            <key>size</key>
            <string>{128,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3331b28a05f66339bfdfe6e37a3931c1$</string>
            <key>textureFileName</key>
            <string>pistol_cop.png</string>
        </dict>
    </dict>
</plist>
