<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>forklift_drive1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{58,40}}</string>
                <key>offset</key>
                <string>{10,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,20},{58,40}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>forklift_drive2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,84},{58,38}}</string>
                <key>offset</key>
                <string>{10,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,22},{58,38}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>forklift_drive3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,44},{58,38}}</string>
                <key>offset</key>
                <string>{10,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,22},{58,38}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>forklift.png</string>
            <key>size</key>
            <string>{64,128}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:86c43ffc4ace0bee09737ef92fd00e15$</string>
            <key>textureFileName</key>
            <string>forklift.png</string>
        </dict>
    </dict>
</plist>
