<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>player_aerial_attack1.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,128},{26,26}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,17},{26,26}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>player_aerial_attack2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,160},{24,28}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,16},{24,28}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>player_armed_attack1.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,136},{20,26}}</string>
                <key>offset</key>
                <string>{-3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,17},{20,26}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>player_armed_attack10.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,136},{20,26}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,17},{20,26}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>player_armed_attack2.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,226},{20,26}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,17},{20,26}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>player_armed_attack3.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,86},{24,26}}</string>
                <key>offset</key>
                <string>{5,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,17},{24,26}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>player_armed_attack4.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,86},{24,26}}</string>
                <key>offset</key>
                <string>{5,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,17},{24,26}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>player_armed_attack5.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,156},{24,26}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,17},{24,26}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>player_armed_attack6.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,170},{20,26}}</string>
                <key>offset</key>
                <string>{-3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,17},{20,26}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>player_armed_attack7.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,198},{20,26}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,17},{20,26}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>player_armed_attack8.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,30},{22,26}}</string>
                <key>offset</key>
                <string>{3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,17},{22,26}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>player_armed_attack9.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,30},{22,26}}</string>
                <key>offset</key>
                <string>{3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,17},{22,26}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>player_armed_idle1.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,226},{20,26}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,17},{20,26}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>player_armed_idle2.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,170},{20,26}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,17},{20,26}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>player_armed_idle3.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,198},{20,26}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,17},{20,26}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>player_armed_idle4.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,170},{20,26}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,17},{20,26}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>player_armed_run1.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,120},{20,26}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,17},{20,26}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>player_armed_run2.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,108},{20,26}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,17},{20,26}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>player_armed_run3.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,108},{20,26}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,17},{20,26}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>player_armed_run4.png</key>
            <dict>
                <key>frame</key>
                <string>{{234,30},{20,26}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,17},{20,26}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>player_armed_run5.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,86},{20,26}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,17},{20,26}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>player_armed_run6.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,30},{20,26}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,17},{20,26}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>player_enrage1.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,58},{20,26}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,17},{20,26}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>player_enrage10.png</key>
            <dict>
                <key>frame</key>
                <string>{{46,220},{20,28}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,13},{20,28}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>player_enrage11.png</key>
            <dict>
                <key>frame</key>
                <string>{{26,190},{20,28}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,14},{20,28}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>player_enrage12.png</key>
            <dict>
                <key>frame</key>
                <string>{{46,220},{20,28}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,13},{20,28}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>player_enrage13.png</key>
            <dict>
                <key>frame</key>
                <string>{{26,190},{20,28}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,12},{20,28}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>player_enrage14.png</key>
            <dict>
                <key>frame</key>
                <string>{{46,220},{20,28}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,13},{20,28}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>player_enrage15.png</key>
            <dict>
                <key>frame</key>
                <string>{{24,220},{20,28}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,14},{20,28}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>player_enrage16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,220},{20,28}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,15},{20,28}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>player_enrage17.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,142},{20,26}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,17},{20,26}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>player_enrage2.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,114},{20,26}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,17},{20,26}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>player_enrage3.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,226},{20,26}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,16},{20,26}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>player_enrage4.png</key>
            <dict>
                <key>frame</key>
                <string>{{46,220},{20,28}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,13},{20,28}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>player_enrage5.png</key>
            <dict>
                <key>frame</key>
                <string>{{26,190},{20,28}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,12},{20,28}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>player_enrage6.png</key>
            <dict>
                <key>frame</key>
                <string>{{46,220},{20,28}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,13},{20,28}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>player_enrage7.png</key>
            <dict>
                <key>frame</key>
                <string>{{26,190},{20,28}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,14},{20,28}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>player_enrage8.png</key>
            <dict>
                <key>frame</key>
                <string>{{46,220},{20,28}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,13},{20,28}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>player_enrage9.png</key>
            <dict>
                <key>frame</key>
                <string>{{26,190},{20,28}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,12},{20,28}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>player_flip1.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,164},{20,22}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,19},{20,22}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>player_flip2.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,100},{22,18}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,21},{22,18}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>player_flip3.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,148},{20,20}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,20},{20,20}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>player_flip4.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,84},{22,22}}</string>
                <key>offset</key>
                <string>{-1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,18},{22,22}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>player_frenzy_attack1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{42,26}}</string>
                <key>offset</key>
                <string>{5,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,17},{42,26}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>player_frenzy_attack10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,100},{30,28}}</string>
                <key>offset</key>
                <string>{7,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,12},{30,28}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>player_frenzy_attack2.png</key>
            <dict>
                <key>frame</key>
                <string>{{28,158},{34,26}}</string>
                <key>offset</key>
                <string>{8,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,17},{34,26}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>player_frenzy_attack3.png</key>
            <dict>
                <key>frame</key>
                <string>{{46,2},{40,26}}</string>
                <key>offset</key>
                <string>{6,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,17},{40,26}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>player_frenzy_attack4.png</key>
            <dict>
                <key>frame</key>
                <string>{{34,100},{34,26}}</string>
                <key>offset</key>
                <string>{7,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,17},{34,26}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>player_frenzy_attack5.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,2},{36,26}}</string>
                <key>offset</key>
                <string>{4,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,17},{36,26}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>player_frenzy_attack6.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,214},{28,26}}</string>
                <key>offset</key>
                <string>{6,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,17},{28,26}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>player_frenzy_attack7.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,2},{36,26}}</string>
                <key>offset</key>
                <string>{3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,17},{36,26}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>player_frenzy_attack8.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,30},{26,26}}</string>
                <key>offset</key>
                <string>{5,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,17},{26,26}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>player_frenzy_attack9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,66},{32,32}}</string>
                <key>offset</key>
                <string>{8,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,12},{32,32}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>player_hit1.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,58},{22,26}}</string>
                <key>offset</key>
                <string>{-3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,17},{22,26}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>player_idle1.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,142},{20,26}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,17},{20,26}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>player_idle2.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,170},{20,26}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,17},{20,26}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>player_idle3.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,198},{20,26}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,17},{20,26}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>player_idle4.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,170},{20,26}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,17},{20,26}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>player_ko1.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,184},{24,26}}</string>
                <key>offset</key>
                <string>{-1,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,12},{24,26}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>player_ko2.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,52},{28,24}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,14},{28,24}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>player_ko3.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,78},{28,20}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,20},{28,20}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>player_ko4.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,30},{30,20}}</string>
                <key>offset</key>
                <string>{-2,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,29},{30,20}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>player_melee_attack1.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,86},{22,26}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,17},{22,26}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>player_melee_attack10.png</key>
            <dict>
                <key>frame</key>
                <string>{{48,186},{32,26}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,17},{32,26}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>player_melee_attack11.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,156},{24,26}}</string>
                <key>offset</key>
                <string>{5,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,17},{24,26}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>player_melee_attack12.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,86},{20,26}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,17},{20,26}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>player_melee_attack13.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,30},{20,26}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,17},{20,26}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>player_melee_attack14.png</key>
            <dict>
                <key>frame</key>
                <string>{{28,130},{34,26}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,17},{34,26}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>player_melee_attack15.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,58},{26,26}}</string>
                <key>offset</key>
                <string>{4,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,17},{26,26}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>player_melee_attack16.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,114},{22,26}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,17},{22,26}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>player_melee_attack17.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,58},{20,26}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,17},{20,26}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>player_melee_attack18.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,30},{26,34}}</string>
                <key>offset</key>
                <string>{5,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,12},{26,34}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>player_melee_attack19.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,190},{22,28}}</string>
                <key>offset</key>
                <string>{3,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,12},{22,28}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>player_melee_attack2.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,2},{34,26}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,17},{34,26}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>player_melee_attack20.png</key>
            <dict>
                <key>frame</key>
                <string>{{30,30},{20,30}}</string>
                <key>offset</key>
                <string>{2,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,11},{20,30}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>player_melee_attack21.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,130},{24,28}}</string>
                <key>offset</key>
                <string>{-1,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,13},{24,28}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>player_melee_attack22.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,142},{20,26}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,17},{20,26}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>player_melee_attack3.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,30},{28,26}}</string>
                <key>offset</key>
                <string>{4,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,17},{28,26}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>player_melee_attack4.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,114},{20,26}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,17},{20,26}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>player_melee_attack5.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,170},{20,26}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,17},{20,26}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>player_melee_attack6.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,2},{34,26}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,17},{34,26}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>player_melee_attack7.png</key>
            <dict>
                <key>frame</key>
                <string>{{36,62},{28,26}}</string>
                <key>offset</key>
                <string>{4,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,17},{28,26}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>player_melee_attack8.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,142},{20,26}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,17},{20,26}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>player_melee_attack9.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,58},{20,26}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,17},{20,26}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>player_pickup1.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,30},{22,26}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,17},{22,26}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>player_pickup2.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,58},{22,24}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,19},{22,24}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>player_pickup3.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,30},{22,26}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,17},{22,26}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>player_run1.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,58},{22,26}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,17},{22,26}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>player_run2.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,86},{20,26}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,17},{20,26}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>player_run3.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,114},{20,26}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,17},{20,26}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>player_run4.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,212},{20,26}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,17},{20,26}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>player_run5.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,184},{20,26}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,17},{20,26}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>player_run6.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,212},{20,26}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,17},{20,26}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>player.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:30233477033b04bda4f7bb9f6a248c0c$</string>
            <key>textureFileName</key>
            <string>player.png</string>
        </dict>
    </dict>
</plist>
