<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fist_soldier_attack1.png</key>
            <dict>
                <key>frame</key>
                <string>{{28,50},{22,24}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,19},{22,24}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>fist_soldier_attack2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,50},{24,24}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,19},{24,24}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>fist_soldier_attack3.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,26},{26,24}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,19},{26,24}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>fist_soldier_attack4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{32,24}}</string>
                <key>offset</key>
                <string>{6,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,19},{32,24}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>fist_soldier_attack5.png</key>
            <dict>
                <key>frame</key>
                <string>{{36,2},{30,24}}</string>
                <key>offset</key>
                <string>{7,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,19},{30,24}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>fist_soldier_attack6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,128},{20,24}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,19},{20,24}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>fist_soldier_get_up1.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,24},{28,20}}</string>
                <key>offset</key>
                <string>{-1,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,29},{28,20}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>fist_soldier_get_up2.png</key>
            <dict>
                <key>frame</key>
                <string>{{30,28},{26,20}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,29},{26,20}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>fist_soldier_get_up3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,28},{26,20}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,26},{26,20}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>fist_soldier_get_up4.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,2},{28,22}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,16},{28,22}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>fist_soldier_get_up5.png</key>
            <dict>
                <key>frame</key>
                <string>{{24,128},{20,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,21},{20,22}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>fist_soldier_get_up6.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,120},{20,24}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,19},{20,24}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>fist_soldier_hit1.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,104},{20,24}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,19},{20,24}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>fist_soldier_hit2.png</key>
            <dict>
                <key>frame</key>
                <string>{{46,104},{20,24}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,19},{20,24}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>fist_soldier_idle1.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,120},{20,24}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,19},{20,24}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>fist_soldier_idle2.png</key>
            <dict>
                <key>frame</key>
                <string>{{24,102},{20,24}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,19},{20,24}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>fist_soldier_idle3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,102},{20,24}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,19},{20,24}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>fist_soldier_idle4.png</key>
            <dict>
                <key>frame</key>
                <string>{{24,102},{20,24}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,19},{20,24}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>fist_soldier_ko1.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,104},{20,24}}</string>
                <key>offset</key>
                <string>{1,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,14},{20,24}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>fist_soldier_ko2.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,2},{28,22}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,16},{28,22}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>fist_soldier_ko3.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,46},{26,20}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,20},{26,20}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>fist_soldier_ko4.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,2},{28,20}}</string>
                <key>offset</key>
                <string>{-1,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,29},{28,20}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>fist_soldier_walk1.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,94},{20,24}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,19},{20,24}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>fist_soldier_walk2.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,78},{20,24}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,19},{20,24}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>fist_soldier_walk3.png</key>
            <dict>
                <key>frame</key>
                <string>{{46,78},{20,24}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,19},{20,24}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>fist_soldier_walk4.png</key>
            <dict>
                <key>frame</key>
                <string>{{24,76},{20,24}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,19},{20,24}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>fist_soldier_walk5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,76},{20,24}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,19},{20,24}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>fist_soldier_walk6.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,68},{20,24}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,19},{20,24}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>fist_soldier_walk7.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,52},{20,24}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,19},{20,24}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>fist_soldier_walk8.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,52},{20,24}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,19},{20,24}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>fist_soldier.png</string>
            <key>size</key>
            <string>{128,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e2f14e74af5d9dcc0de2adbcf26fe768$</string>
            <key>textureFileName</key>
            <string>fist_soldier.png</string>
        </dict>
    </dict>
</plist>
