<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>boss2_attack1.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,82},{46,38}}</string>
                <key>offset</key>
                <string>{5,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,12},{46,38}}</string>
                <key>sourceSize</key>
                <string>{96,64}</string>
            </dict>
            <key>boss2_attack2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,172},{32,42}}</string>
                <key>offset</key>
                <string>{-4,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,8},{32,42}}</string>
                <key>sourceSize</key>
                <string>{96,64}</string>
            </dict>
            <key>boss2_attack3.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,82},{36,48}}</string>
                <key>offset</key>
                <string>{-1,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,2},{36,48}}</string>
                <key>sourceSize</key>
                <string>{96,64}</string>
            </dict>
            <key>boss2_attack4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{64,46}}</string>
                <key>offset</key>
                <string>{12,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,4},{64,46}}</string>
                <key>sourceSize</key>
                <string>{96,64}</string>
            </dict>
            <key>boss2_attack5.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,2},{64,42}}</string>
                <key>offset</key>
                <string>{12,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,8},{64,42}}</string>
                <key>sourceSize</key>
                <string>{96,64}</string>
            </dict>
            <key>boss2_attack6.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,46},{50,38}}</string>
                <key>offset</key>
                <string>{8,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,12},{50,38}}</string>
                <key>sourceSize</key>
                <string>{96,64}</string>
            </dict>
            <key>boss2_die1.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,42},{50,38}}</string>
                <key>offset</key>
                <string>{8,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,12},{50,38}}</string>
                <key>sourceSize</key>
                <string>{96,64}</string>
            </dict>
            <key>boss2_idle1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,130},{44,38}}</string>
                <key>offset</key>
                <string>{6,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,12},{44,38}}</string>
                <key>sourceSize</key>
                <string>{96,64}</string>
            </dict>
            <key>boss2_idle2.png</key>
            <dict>
                <key>frame</key>
                <string>{{50,126},{44,38}}</string>
                <key>offset</key>
                <string>{6,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,12},{44,38}}</string>
                <key>sourceSize</key>
                <string>{96,64}</string>
            </dict>
            <key>boss2_idle3.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,122},{44,38}}</string>
                <key>offset</key>
                <string>{5,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,12},{44,38}}</string>
                <key>sourceSize</key>
                <string>{96,64}</string>
            </dict>
            <key>boss2_idle4.png</key>
            <dict>
                <key>frame</key>
                <string>{{50,126},{44,38}}</string>
                <key>offset</key>
                <string>{6,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,12},{44,38}}</string>
                <key>sourceSize</key>
                <string>{96,64}</string>
            </dict>
            <key>boss2_spin1.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,2},{60,38}}</string>
                <key>offset</key>
                <string>{4,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,12},{60,38}}</string>
                <key>sourceSize</key>
                <string>{96,64}</string>
            </dict>
            <key>boss2_spin2.png</key>
            <dict>
                <key>frame</key>
                <string>{{46,212},{34,38}}</string>
                <key>offset</key>
                <string>{5,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,12},{34,38}}</string>
                <key>sourceSize</key>
                <string>{96,64}</string>
            </dict>
            <key>boss2_spin3.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,2},{58,38}}</string>
                <key>offset</key>
                <string>{-6,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,12},{58,38}}</string>
                <key>sourceSize</key>
                <string>{96,64}</string>
            </dict>
            <key>boss2_spin4.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,82},{48,38}}</string>
                <key>offset</key>
                <string>{-13,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,12},{48,38}}</string>
                <key>sourceSize</key>
                <string>{96,64}</string>
            </dict>
            <key>boss2_walk1.png</key>
            <dict>
                <key>frame</key>
                <string>{{36,172},{42,38}}</string>
                <key>offset</key>
                <string>{6,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,12},{42,38}}</string>
                <key>sourceSize</key>
                <string>{96,64}</string>
            </dict>
            <key>boss2_walk2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,90},{46,38}}</string>
                <key>offset</key>
                <string>{5,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,12},{46,38}}</string>
                <key>sourceSize</key>
                <string>{96,64}</string>
            </dict>
            <key>boss2_walk3.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,42},{48,38}}</string>
                <key>offset</key>
                <string>{5,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,12},{48,38}}</string>
                <key>sourceSize</key>
                <string>{96,64}</string>
            </dict>
            <key>boss2_walk4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,50},{48,38}}</string>
                <key>offset</key>
                <string>{5,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,12},{48,38}}</string>
                <key>sourceSize</key>
                <string>{96,64}</string>
            </dict>
            <key>boss2_walk5.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,86},{46,38}}</string>
                <key>offset</key>
                <string>{5,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,12},{46,38}}</string>
                <key>sourceSize</key>
                <string>{96,64}</string>
            </dict>
            <key>boss2_walk6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,216},{42,38}}</string>
                <key>offset</key>
                <string>{6,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,12},{42,38}}</string>
                <key>sourceSize</key>
                <string>{96,64}</string>
            </dict>
            <key>boss2_walk7.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,132},{42,38}}</string>
                <key>offset</key>
                <string>{5,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,12},{42,38}}</string>
                <key>sourceSize</key>
                <string>{96,64}</string>
            </dict>
            <key>boss2_walk8.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,122},{42,38}}</string>
                <key>offset</key>
                <string>{5,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,12},{42,38}}</string>
                <key>sourceSize</key>
                <string>{96,64}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>boss2.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:66fb4c63cabfea088328740207bba96c$</string>
            <key>textureFileName</key>
            <string>boss2.png</string>
        </dict>
    </dict>
</plist>
