<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fist_cop_attack1.png</key>
            <dict>
                <key>frame</key>
                <string>{{54,56},{22,26}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,17},{22,26}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>fist_cop_attack2.png</key>
            <dict>
                <key>frame</key>
                <string>{{28,50},{24,26}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,17},{24,26}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>fist_cop_attack3.png</key>
            <dict>
                <key>frame</key>
                <string>{{62,28},{26,26}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,17},{26,26}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>fist_cop_attack4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{32,24}}</string>
                <key>offset</key>
                <string>{6,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,19},{32,24}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>fist_cop_attack5.png</key>
            <dict>
                <key>frame</key>
                <string>{{36,2},{30,24}}</string>
                <key>offset</key>
                <string>{7,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,19},{30,24}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>fist_cop_attack6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,134},{20,26}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,17},{20,26}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>fist_cop_get_up1.png</key>
            <dict>
                <key>frame</key>
                <string>{{32,28},{28,20}}</string>
                <key>offset</key>
                <string>{-1,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,28},{28,20}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>fist_cop_get_up2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,28},{28,20}}</string>
                <key>offset</key>
                <string>{-1,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,28},{28,20}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>fist_cop_get_up3.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,46},{26,20}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,23},{26,20}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>fist_cop_get_up4.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,2},{28,24}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,14},{28,24}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>fist_cop_get_up5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,162},{20,24}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,19},{20,24}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>fist_cop_get_up6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,162},{20,24}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,19},{20,24}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>fist_cop_hit1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,50},{24,26}}</string>
                <key>offset</key>
                <string>{-5,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,17},{24,26}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>fist_cop_hit2.png</key>
            <dict>
                <key>frame</key>
                <string>{{24,160},{20,24}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,19},{20,24}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>fist_cop_idle1.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,96},{20,26}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,17},{20,26}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>fist_cop_idle2.png</key>
            <dict>
                <key>frame</key>
                <string>{{46,112},{20,26}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,17},{20,26}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>fist_cop_idle3.png</key>
            <dict>
                <key>frame</key>
                <string>{{46,140},{20,24}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,19},{20,24}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>fist_cop_idle4.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,96},{20,26}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,17},{20,26}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>fist_cop_ko1.png</key>
            <dict>
                <key>frame</key>
                <string>{{24,106},{20,26}}</string>
                <key>offset</key>
                <string>{1,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,12},{20,26}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>fist_cop_ko2.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,2},{28,24}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,14},{28,24}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>fist_cop_ko3.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,24},{28,20}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,20},{28,20}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>fist_cop_ko4.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,2},{28,20}}</string>
                <key>offset</key>
                <string>{-1,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,29},{28,20}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>fist_cop_walk1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,106},{20,26}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,17},{20,26}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>fist_cop_walk2.png</key>
            <dict>
                <key>frame</key>
                <string>{{46,84},{20,26}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,17},{20,26}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>fist_cop_walk3.png</key>
            <dict>
                <key>frame</key>
                <string>{{24,78},{20,26}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,17},{20,26}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>fist_cop_walk4.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,124},{20,24}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,19},{20,24}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>fist_cop_walk5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,78},{20,26}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,17},{20,26}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>fist_cop_walk6.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,68},{20,26}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,17},{20,26}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>fist_cop_walk7.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,68},{20,26}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,17},{20,26}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>fist_cop_walk8.png</key>
            <dict>
                <key>frame</key>
                <string>{{24,134},{20,24}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,19},{20,24}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>fist_cop.png</string>
            <key>size</key>
            <string>{128,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:324b40876a1cca79008394898fd81ca0$</string>
            <key>textureFileName</key>
            <string>fist_cop.png</string>
        </dict>
    </dict>
</plist>
