<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Properties</key>
	<dict>
		<key>Spritesheet</key>
		<string>assets/art/bosses/boss2/boss2.plist</string>
	</dict>
	<key>Animations</key>
	<array>
		<dict>
			<key>Properties</key>
			<dict>
				<key>FPS</key>
				<integer>10</integer>
				<key>Animation</key>
				<string>boss2_idle</string>
			</dict>
			<key>Frames</key>
			<array>
				<dict>
					<key>FrameName</key>
					<string>boss2_idle1.png</string>
					<key>Duration</key>
					<integer>1</integer>
				</dict>
				<dict>
					<key>FrameName</key>
					<string>boss2_idle2.png</string>
					<key>Duration</key>
					<integer>1</integer>
				</dict>
				<dict>
					<key>FrameName</key>
					<string>boss2_idle3.png</string>
					<key>Duration</key>
					<integer>1</integer>
				</dict>
				<dict>
					<key>FrameName</key>
					<string>boss2_idle4.png</string>
					<key>Duration</key>
					<integer>1</integer>
				</dict>
			</array>
		</dict>
		<dict>
			<key>Properties</key>
			<dict>
				<key>FPS</key>
				<integer>15</integer>
				<key>Animation</key>
				<string>boss2_run</string>
			</dict>
			<key>Frames</key>
			<array>
				<dict>
					<key>FrameName</key>
					<string>boss2_walk1.png</string>
					<key>Duration</key>
					<integer>1</integer>
				</dict>
				<dict>
					<key>FrameName</key>
					<string>boss2_walk2.png</string>
					<key>Duration</key>
					<integer>1</integer>
				</dict>
				<dict>
					<key>FrameName</key>
					<string>boss2_walk3.png</string>
					<key>Duration</key>
					<integer>1</integer>
				</dict>
				<dict>
					<key>FrameName</key>
					<string>boss2_walk4.png</string>
					<key>Duration</key>
					<integer>1</integer>
				</dict>
				<dict>
					<key>FrameName</key>
					<string>boss2_walk5.png</string>
					<key>Duration</key>
					<integer>1</integer>
				</dict>
				<dict>
					<key>FrameName</key>
					<string>boss2_walk6.png</string>
					<key>Duration</key>
					<integer>1</integer>
				</dict>
				<dict>
					<key>FrameName</key>
					<string>boss2_walk7.png</string>
					<key>Duration</key>
					<integer>1</integer>
				</dict>
				<dict>
					<key>FrameName</key>
					<string>boss2_walk8.png</string>
					<key>Duration</key>
					<integer>1</integer>
				</dict>
			</array>
		</dict>
		<dict>
			<key>Properties</key>
			<dict>
				<key>FPS</key>
				<integer>15</integer>
				<key>Animation</key>
				<string>boss2_attack</string>
			</dict>
			<key>Frames</key>
			<array>
				<dict>
					<key>FrameName</key>
					<string>boss2_attack1.png</string>
					<key>Duration</key>
					<integer>1</integer>
				</dict>
				<dict>
					<key>FrameName</key>
					<string>boss2_attack2.png</string>
					<key>Duration</key>
					<integer>1</integer>
				</dict>
				<dict>
					<key>FrameName</key>
					<string>boss2_attack3.png</string>
					<key>Duration</key>
					<integer>1</integer>
				</dict>
				<dict>
					<key>FrameName</key>
					<string>boss2_attack4.png</string>
					<key>Duration</key>
					<integer>1</integer>
				</dict>
				<dict>
					<key>FrameName</key>
					<string>boss2_attack5.png</string>
					<key>Duration</key>
					<integer>1</integer>
				</dict>
				<dict>
					<key>FrameName</key>
					<string>boss2_attack6.png</string>
					<key>Duration</key>
					<integer>1</integer>
				</dict>
				<dict>
					<key>FrameName</key>
					<string>boss2_idle1.png</string>
					<key>Duration</key>
					<integer>1</integer>
				</dict>
			</array>
		</dict>
		<dict>
			<key>Properties</key>
			<dict>
				<key>FPS</key>
				<integer>15</integer>
				<key>Animation</key>
				<string>boss2_die</string>
			</dict>
			<key>Frames</key>
			<array>
				<dict>
					<key>FrameName</key>
					<string>boss2_die1.png</string>
					<key>Duration</key>
					<integer>1</integer>
				</dict>
			</array>
		</dict>
		<dict>
			<key>Properties</key>
			<dict>
				<key>FPS</key>
				<integer>15</integer>
				<key>Animation</key>
				<string>boss2_spin</string>
			</dict>
			<key>Frames</key>
			<array>
				<dict>
					<key>FrameName</key>
					<string>boss2_spin1.png</string>
					<key>Duration</key>
					<integer>1</integer>
				</dict>
				<dict>
					<key>FrameName</key>
					<string>boss2_spin2.png</string>
					<key>Duration</key>
					<integer>1</integer>
				</dict>
				<dict>
					<key>FrameName</key>
					<string>boss2_spin3.png</string>
					<key>Duration</key>
					<integer>1</integer>
				</dict>
				<dict>
					<key>FrameName</key>
					<string>boss2_spin4.png</string>
					<key>Duration</key>
					<integer>1</integer>
				</dict>
			</array>
		</dict>
	</array>
</dict>
</plist>
