<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Properties</key>
	<dict>
		<key>Spritesheet</key>
		<string>assets/art/bosses/boss5/boss5.plist</string>
	</dict>
	<key>Animations</key>
	<array>
		<dict>
			<key>Properties</key>
			<dict>
				<key>FPS</key>
				<integer>10</integer>
				<key>Animation</key>
				<string>boss5_idle</string>
			</dict>
			<key>Frames</key>
			<array>
				<dict>
					<key>FrameName</key>
					<string>boss5_idle1.png</string>
					<key>Duration</key>
					<integer>1</integer>
				</dict>
				<dict>
					<key>FrameName</key>
					<string>boss5_idle2.png</string>
					<key>Duration</key>
					<integer>1</integer>
				</dict>
				<dict>
					<key>FrameName</key>
					<string>boss5_idle3.png</string>
					<key>Duration</key>
					<integer>1</integer>
				</dict>
				<dict>
					<key>FrameName</key>
					<string>boss5_idle4.png</string>
					<key>Duration</key>
					<integer>1</integer>
				</dict>
			</array>
		</dict>
		<dict>
			<key>Properties</key>
			<dict>
				<key>FPS</key>
				<integer>15</integer>
				<key>Animation</key>
				<string>boss5_run</string>
			</dict>
			<key>Frames</key>
			<array>
				<dict>
					<key>FrameName</key>
					<string>boss5_walk1.png</string>
					<key>Duration</key>
					<integer>1</integer>
				</dict>
				<dict>
					<key>FrameName</key>
					<string>boss5_walk2.png</string>
					<key>Duration</key>
					<integer>1</integer>
				</dict>
				<dict>
					<key>FrameName</key>
					<string>boss5_walk3.png</string>
					<key>Duration</key>
					<integer>1</integer>
				</dict>
				<dict>
					<key>FrameName</key>
					<string>boss5_walk4.png</string>
					<key>Duration</key>
					<integer>1</integer>
				</dict>
				<dict>
					<key>FrameName</key>
					<string>boss5_walk5.png</string>
					<key>Duration</key>
					<integer>1</integer>
				</dict>
				<dict>
					<key>FrameName</key>
					<string>boss5_walk6.png</string>
					<key>Duration</key>
					<integer>1</integer>
				</dict>
				<dict>
					<key>FrameName</key>
					<string>boss5_walk7.png</string>
					<key>Duration</key>
					<integer>1</integer>
				</dict>
				<dict>
					<key>FrameName</key>
					<string>boss5_walk8.png</string>
					<key>Duration</key>
					<integer>1</integer>
				</dict>
			</array>
		</dict>
		<dict>
			<key>Properties</key>
			<dict>
				<key>FPS</key>
				<integer>15</integer>
				<key>Animation</key>
				<string>boss5_attack</string>
			</dict>
			<key>Frames</key>
			<array>
				<dict>
					<key>FrameName</key>
					<string>boss5_attack1.png</string>
					<key>Duration</key>
					<integer>1</integer>
				</dict>
				<dict>
					<key>FrameName</key>
					<string>boss5_attack2.png</string>
					<key>Duration</key>
					<integer>1</integer>
				</dict>
				<dict>
					<key>FrameName</key>
					<string>boss5_attack3.png</string>
					<key>Duration</key>
					<integer>1</integer>
				</dict>
				<dict>
					<key>FrameName</key>
					<string>boss5_attack4.png</string>
					<key>Duration</key>
					<integer>1</integer>
				</dict>
				<dict>
					<key>FrameName</key>
					<string>boss5_attack5.png</string>
					<key>Duration</key>
					<integer>1</integer>
				</dict>
				<dict>
					<key>FrameName</key>
					<string>boss5_attack6.png</string>
					<key>Duration</key>
					<integer>1</integer>
				</dict>
				<dict>
					<key>FrameName</key>
					<string>boss5_idle1.png</string>
					<key>Duration</key>
					<integer>1</integer>
				</dict>
			</array>
		</dict>
		<dict>
			<key>Properties</key>
			<dict>
				<key>FPS</key>
				<integer>15</integer>
				<key>Animation</key>
				<string>boss5_shoot</string>
			</dict>
			<key>Frames</key>
			<array>
				<dict>
					<key>FrameName</key>
					<string>boss5_shoot1.png</string>
					<key>Duration</key>
					<integer>1</integer>
				</dict>
				<dict>
					<key>FrameName</key>
					<string>boss5_shoot2.png</string>
					<key>Duration</key>
					<integer>1</integer>
				</dict>
				<dict>
					<key>FrameName</key>
					<string>boss5_shoot3.png</string>
					<key>Duration</key>
					<integer>1</integer>
				</dict>
				<dict>
					<key>FrameName</key>
					<string>boss5_idle1.png</string>
					<key>Duration</key>
					<integer>1</integer>
				</dict>
			</array>
		</dict>
		<dict>
			<key>Properties</key>
			<dict>
				<key>FPS</key>
				<integer>15</integer>
				<key>Animation</key>
				<string>boss5_spin</string>
			</dict>
			<key>Frames</key>
			<array>
				<dict>
					<key>FrameName</key>
					<string>boss5_spin1.png</string>
					<key>Duration</key>
					<integer>1</integer>
				</dict>
				<dict>
					<key>FrameName</key>
					<string>boss5_spin2.png</string>
					<key>Duration</key>
					<integer>1</integer>
				</dict>
				<dict>
					<key>FrameName</key>
					<string>boss5_spin3.png</string>
					<key>Duration</key>
					<integer>1</integer>
				</dict>
				<dict>
					<key>FrameName</key>
					<string>boss5_spin4.png</string>
					<key>Duration</key>
					<integer>1</integer>
				</dict>
			</array>
		</dict>
		<dict>
			<key>Properties</key>
			<dict>
				<key>FPS</key>
				<integer>15</integer>
				<key>Animation</key>
				<string>boss5_die</string>
			</dict>
			<key>Frames</key>
			<array>
				<dict>
					<key>FrameName</key>
					<string>boss5_die1.png</string>
					<key>Duration</key>
					<integer>1</integer>
				</dict>
			</array>
		</dict>
		<dict>
			<key>Properties</key>
			<dict>
				<key>FPS</key>
				<integer>15</integer>
				<key>Animation</key>
				<string>boss5_head1</string>
			</dict>
			<key>Frames</key>
			<array>
				<dict>
					<key>FrameName</key>
					<string>boss5_head1.png</string>
					<key>Duration</key>
					<integer>1</integer>
				</dict>
			</array>
		</dict>
		<dict>
			<key>Properties</key>
			<dict>
				<key>FPS</key>
				<integer>15</integer>
				<key>Animation</key>
				<string>boss5_head2</string>
			</dict>
			<key>Frames</key>
			<array>
				<dict>
					<key>FrameName</key>
					<string>boss5_head2.png</string>
					<key>Duration</key>
					<integer>1</integer>
				</dict>
			</array>
		</dict>
	</array>
</dict>
</plist>
