<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Properties</key>
	<dict>
		<key>Spritesheet</key>
		<string>assets/art/enemies/spikes/spikes.plist</string>
	</dict>
	<key>Animations</key>
	<array>
		<dict>
			<key>Properties</key>
			<dict>
				<key>FPS</key>
				<integer>10</integer>
				<key>Animation</key>
				<string>spikes_idle</string>
			</dict>
			<key>Frames</key>
			<array>
				<dict>
					<key>FrameName</key>
					<string>spikes1.png</string>
					<key>Duration</key>
					<integer>1</integer>
				</dict>
			</array>
		</dict>
		<dict>
			<key>Properties</key>
			<dict>
				<key>FPS</key>
				<integer>15</integer>
				<key>Animation</key>
				<string>spikes_attack</string>
			</dict>
			<key>Frames</key>
			<array>
				<dict>
					<key>FrameName</key>
					<string>spikes1.png</string>
					<key>Duration</key>
					<integer>1</integer>
				</dict>
				<dict>
					<key>FrameName</key>
					<string>spikes2.png</string>
					<key>Duration</key>
					<integer>1</integer>
				</dict>
				<dict>
					<key>FrameName</key>
					<string>spikes3.png</string>
					<key>Duration</key>
					<integer>1</integer>
				</dict>		
				<dict>
					<key>FrameName</key>
					<string>spikes4.png</string>
					<key>Duration</key>
					<integer>1</integer>
				</dict>		
				<dict>
					<key>FrameName</key>
					<string>spikes1.png</string>
					<key>Duration</key>
					<integer>1</integer>
				</dict>					
			</array>
		</dict>
	</array>
</dict>
</plist>
