<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Properties</key>
	<dict>
		<key>Spritesheet</key>
		<string>assets/art/bosses/boss3/boss3.plist</string>
	</dict>
	<key>Animations</key>
	<array>
		<dict>
			<key>Properties</key>
			<dict>
				<key>FPS</key>
				<integer>10</integer>
				<key>Animation</key>
				<string>boss3_idle</string>
			</dict>
			<key>Frames</key>
			<array>
				<dict>
					<key>FrameName</key>
					<string>boss3_idle1.png</string>
					<key>Duration</key>
					<integer>1</integer>
				</dict>
				<dict>
					<key>FrameName</key>
					<string>boss3_idle2.png</string>
					<key>Duration</key>
					<integer>1</integer>
				</dict>
				<dict>
					<key>FrameName</key>
					<string>boss3_idle3.png</string>
					<key>Duration</key>
					<integer>1</integer>
				</dict>
				<dict>
					<key>FrameName</key>
					<string>boss3_idle4.png</string>
					<key>Duration</key>
					<integer>1</integer>
				</dict>
			</array>
		</dict>
		<dict>
			<key>Properties</key>
			<dict>
				<key>FPS</key>
				<integer>15</integer>
				<key>Animation</key>
				<string>boss3_run</string>
			</dict>
			<key>Frames</key>
			<array>
				<dict>
					<key>FrameName</key>
					<string>boss3_walk1.png</string>
					<key>Duration</key>
					<integer>1</integer>
				</dict>
				<dict>
					<key>FrameName</key>
					<string>boss3_walk2.png</string>
					<key>Duration</key>
					<integer>1</integer>
				</dict>
				<dict>
					<key>FrameName</key>
					<string>boss3_walk3.png</string>
					<key>Duration</key>
					<integer>1</integer>
				</dict>
				<dict>
					<key>FrameName</key>
					<string>boss3_walk4.png</string>
					<key>Duration</key>
					<integer>1</integer>
				</dict>
				<dict>
					<key>FrameName</key>
					<string>boss3_walk5.png</string>
					<key>Duration</key>
					<integer>1</integer>
				</dict>
				<dict>
					<key>FrameName</key>
					<string>boss3_walk6.png</string>
					<key>Duration</key>
					<integer>1</integer>
				</dict>
				<dict>
					<key>FrameName</key>
					<string>boss3_walk7.png</string>
					<key>Duration</key>
					<integer>1</integer>
				</dict>
				<dict>
					<key>FrameName</key>
					<string>boss3_walk8.png</string>
					<key>Duration</key>
					<integer>1</integer>
				</dict>
			</array>
		</dict>
		<dict>
			<key>Properties</key>
			<dict>
				<key>FPS</key>
				<integer>15</integer>
				<key>Animation</key>
				<string>boss3_attack</string>
			</dict>
			<key>Frames</key>
			<array>
				<dict>
					<key>FrameName</key>
					<string>boss3_attack1.png</string>
					<key>Duration</key>
					<integer>1</integer>
				</dict>
				<dict>
					<key>FrameName</key>
					<string>boss3_attack2.png</string>
					<key>Duration</key>
					<integer>1</integer>
				</dict>
				<dict>
					<key>FrameName</key>
					<string>boss3_attack3.png</string>
					<key>Duration</key>
					<integer>1</integer>
				</dict>
				<dict>
					<key>FrameName</key>
					<string>boss3_attack4.png</string>
					<key>Duration</key>
					<integer>1</integer>
				</dict>
				<dict>
					<key>FrameName</key>
					<string>boss3_attack5.png</string>
					<key>Duration</key>
					<integer>1</integer>
				</dict>
				<dict>
					<key>FrameName</key>
					<string>boss3_attack6.png</string>
					<key>Duration</key>
					<integer>1</integer>
				</dict>
				<dict>
					<key>FrameName</key>
					<string>boss3_idle1.png</string>
					<key>Duration</key>
					<integer>1</integer>
				</dict>
			</array>
		</dict>
		<dict>
			<key>Properties</key>
			<dict>
				<key>FPS</key>
				<integer>15</integer>
				<key>Animation</key>
				<string>boss3_die</string>
			</dict>
			<key>Frames</key>
			<array>
				<dict>
					<key>FrameName</key>
					<string>boss3_die1.png</string>
					<key>Duration</key>
					<integer>1</integer>
				</dict>
			</array>
		</dict>
		<dict>
			<key>Properties</key>
			<dict>
				<key>FPS</key>
				<integer>15</integer>
				<key>Animation</key>
				<string>boss3_dash</string>
			</dict>
			<key>Frames</key>
			<array>
				<dict>
					<key>FrameName</key>
					<string>boss3_dash1.png</string>
					<key>Duration</key>
					<integer>1</integer>
				</dict>
				<dict>
					<key>FrameName</key>
					<string>boss3_dash2.png</string>
					<key>Duration</key>
					<integer>1</integer>
				</dict>
			</array>
		</dict>
		<dict>
			<key>Properties</key>
			<dict>
				<key>FPS</key>
				<integer>15</integer>
				<key>Animation</key>
				<string>boss3_block</string>
			</dict>
			<key>Frames</key>
			<array>
				<dict>
					<key>FrameName</key>
					<string>boss3_shield1.png</string>
					<key>Duration</key>
					<integer>1</integer>
				</dict>
			</array>
		</dict>
	</array>
</dict>
</plist>
