<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fist_fireman_attack1.png</key>
            <dict>
                <key>frame</key>
                <string>{{34,52},{22,28}}</string>
                <key>offset</key>
                <string>{-1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,15},{22,28}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>fist_fireman_attack2.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,32},{24,28}}</string>
                <key>offset</key>
                <string>{-1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,15},{24,28}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>fist_fireman_attack3.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,2},{26,28}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,15},{26,28}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>fist_fireman_attack4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{32,26}}</string>
                <key>offset</key>
                <string>{6,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,17},{32,26}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>fist_fireman_attack5.png</key>
            <dict>
                <key>frame</key>
                <string>{{36,2},{30,26}}</string>
                <key>offset</key>
                <string>{7,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,17},{30,26}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>fist_fireman_attack6.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,122},{20,26}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,17},{20,26}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>fist_fireman_get_up1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,52},{30,20}}</string>
                <key>offset</key>
                <string>{-2,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,30},{30,20}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>fist_fireman_get_up2.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,50},{30,20}}</string>
                <key>offset</key>
                <string>{-2,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,30},{30,20}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>fist_fireman_get_up3.png</key>
            <dict>
                <key>frame</key>
                <string>{{34,30},{30,20}}</string>
                <key>offset</key>
                <string>{-2,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,27},{30,20}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>fist_fireman_get_up4.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,2},{30,24}}</string>
                <key>offset</key>
                <string>{-1,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,14},{30,24}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>fist_fireman_get_up5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,162},{20,26}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,17},{20,26}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>fist_fireman_hit1.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,62},{22,28}}</string>
                <key>offset</key>
                <string>{-4,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,15},{22,28}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>fist_fireman_hit2.png</key>
            <dict>
                <key>frame</key>
                <string>{{24,142},{20,26}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,17},{20,26}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>fist_fireman_idle1.png</key>
            <dict>
                <key>frame</key>
                <string>{{24,112},{20,28}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,15},{20,28}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>fist_fireman_idle2.png</key>
            <dict>
                <key>frame</key>
                <string>{{46,102},{20,28}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,15},{20,28}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>fist_fireman_idle3.png</key>
            <dict>
                <key>frame</key>
                <string>{{46,132},{20,26}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,17},{20,26}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>fist_fireman_idle4.png</key>
            <dict>
                <key>frame</key>
                <string>{{46,102},{20,28}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,15},{20,28}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>fist_fireman_ko1.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,62},{22,28}}</string>
                <key>offset</key>
                <string>{0,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,10},{22,28}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>fist_fireman_ko2.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,2},{30,24}}</string>
                <key>offset</key>
                <string>{-1,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,14},{30,24}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>fist_fireman_ko3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,30},{30,20}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,20},{30,20}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>fist_fireman_ko4.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,28},{30,20}}</string>
                <key>offset</key>
                <string>{-2,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,30},{30,20}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>fist_fireman_walk1.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,92},{20,28}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,15},{20,28}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>fist_fireman_walk2.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,92},{20,28}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,15},{20,28}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>fist_fireman_walk3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,104},{20,28}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,15},{20,28}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>fist_fireman_walk4.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,122},{20,26}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,17},{20,26}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>fist_fireman_walk5.png</key>
            <dict>
                <key>frame</key>
                <string>{{24,82},{20,28}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,15},{20,28}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>fist_fireman_walk6.png</key>
            <dict>
                <key>frame</key>
                <string>{{58,72},{20,28}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,15},{20,28}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>fist_fireman_walk7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,74},{20,28}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,15},{20,28}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>fist_fireman_walk8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,134},{20,26}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,17},{20,26}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>fist_fireman.png</string>
            <key>size</key>
            <string>{128,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7f6312980f135b59bd7d6f85e284dbf7$</string>
            <key>textureFileName</key>
            <string>fist_fireman.png</string>
        </dict>
    </dict>
</plist>
