<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>water_spark1.png</key>
            <dict>
                <key>frame</key>
                <string>{{24,154},{16,10}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,4},{16,10}}</string>
                <key>sourceSize</key>
                <string>{22,16}</string>
            </dict>
            <key>water_spark2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,154},{20,14}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{20,14}}</string>
                <key>sourceSize</key>
                <string>{22,16}</string>
            </dict>
            <key>water_spark3.png</key>
            <dict>
                <key>frame</key>
                <string>{{50,2},{12,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,3},{12,10}}</string>
                <key>sourceSize</key>
                <string>{22,16}</string>
            </dict>
            <key>water_spray1.png</key>
            <dict>
                <key>frame</key>
                <string>{{26,2},{22,150}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{22,150}}</string>
                <key>sourceSize</key>
                <string>{32,150}</string>
            </dict>
            <key>water_spray2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{22,150}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{22,150}}</string>
                <key>sourceSize</key>
                <string>{32,150}</string>
            </dict>
            <key>water_spray3.png</key>
            <dict>
                <key>frame</key>
                <string>{{50,14},{10,150}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,0},{10,150}}</string>
                <key>sourceSize</key>
                <string>{32,150}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>water_spray.png</string>
            <key>size</key>
            <string>{64,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a1441b509ade35d8b64b8d4363bc1ba1$</string>
            <key>textureFileName</key>
            <string>water_spray.png</string>
        </dict>
    </dict>
</plist>
