<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>laser_nerd_get_up1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,26},{28,20}}</string>
                <key>offset</key>
                <string>{-2,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,30},{28,20}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>laser_nerd_get_up2.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,24},{28,20}}</string>
                <key>offset</key>
                <string>{-2,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,30},{28,20}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>laser_nerd_get_up3.png</key>
            <dict>
                <key>frame</key>
                <string>{{62,24},{28,20}}</string>
                <key>offset</key>
                <string>{-1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,27},{28,20}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>laser_nerd_get_up4.png</key>
            <dict>
                <key>frame</key>
                <string>{{32,2},{28,22}}</string>
                <key>offset</key>
                <string>{-1,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,16},{28,22}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>laser_nerd_get_up5.png</key>
            <dict>
                <key>frame</key>
                <string>{{24,130},{20,24}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,19},{20,24}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>laser_nerd_hit1.png</key>
            <dict>
                <key>frame</key>
                <string>{{32,26},{22,24}}</string>
                <key>offset</key>
                <string>{-4,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,19},{22,24}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>laser_nerd_hit2.png</key>
            <dict>
                <key>frame</key>
                <string>{{46,124},{20,24}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,19},{20,24}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>laser_nerd_idle1.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,98},{20,24}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,19},{20,24}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>laser_nerd_idle2.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,98},{20,24}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,19},{20,24}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>laser_nerd_idle3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,126},{20,24}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,19},{20,24}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>laser_nerd_idle4.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,98},{20,24}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,19},{20,24}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>laser_nerd_ko1.png</key>
            <dict>
                <key>frame</key>
                <string>{{32,26},{22,24}}</string>
                <key>offset</key>
                <string>{-1,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,14},{22,24}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>laser_nerd_ko2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{28,22}}</string>
                <key>offset</key>
                <string>{-1,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,16},{28,22}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>laser_nerd_ko3.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,2},{28,20}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,21},{28,20}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>laser_nerd_ko4.png</key>
            <dict>
                <key>frame</key>
                <string>{{62,2},{28,20}}</string>
                <key>offset</key>
                <string>{-2,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,30},{28,20}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>laser_nerd_raise_glasses1.png</key>
            <dict>
                <key>frame</key>
                <string>{{24,104},{20,24}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,19},{20,24}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>laser_nerd_raise_glasses2.png</key>
            <dict>
                <key>frame</key>
                <string>{{46,98},{20,24}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,19},{20,24}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>laser_nerd_raise_glasses3.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,72},{20,24}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,19},{20,24}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>laser_nerd_raise_glasses4.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,72},{20,24}}</string>
                <key>offset</key>
                <string>{3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,19},{20,24}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>laser_nerd_raise_glasses5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,152},{20,22}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,21},{20,22}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>laser_nerd_thrown1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,100},{20,24}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,17},{20,24}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>laser_nerd_walk1.png</key>
            <dict>
                <key>frame</key>
                <string>{{24,78},{20,24}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,19},{20,24}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>laser_nerd_walk2.png</key>
            <dict>
                <key>frame</key>
                <string>{{46,72},{20,24}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,19},{20,24}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>laser_nerd_walk3.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,46},{20,24}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,19},{20,24}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>laser_nerd_walk4.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,46},{20,24}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,19},{20,24}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>laser_nerd_walk5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,74},{20,24}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,19},{20,24}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>laser_nerd_walk6.png</key>
            <dict>
                <key>frame</key>
                <string>{{24,52},{20,24}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,19},{20,24}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>laser_nerd_walk7.png</key>
            <dict>
                <key>frame</key>
                <string>{{56,46},{20,24}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,19},{20,24}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>laser_nerd_walk8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,48},{20,24}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,19},{20,24}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>laser_nerd.png</string>
            <key>size</key>
            <string>{128,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d188977a9cdde6d15e12c6b5859bf1f1$</string>
            <key>textureFileName</key>
            <string>laser_nerd.png</string>
        </dict>
    </dict>
</plist>
